<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d7691e1-de3c-42ab-9eeb-46752edcfd03" Alias="bookletsLanguages" Level="3">
  <Info>
    <Name>Booklets Languages</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>لغات الكتيبات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Booklets+Languages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b3d8f638-bc11-4ae6-89b5-d273b2ee3443" SortOrder="0">bookletsLanguage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>