<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cea7668e-e836-473d-86ee-e7702f7f58b4" Alias="bookletsCategories" Level="3">
  <Info>
    <Name>Booklets Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>فئات الكتيبات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Booklets+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="64700c9e-d818-4ab5-97aa-c6fb717cbeb0" SortOrder="0">bookletCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>