<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db23977d-a62a-432c-9b3d-fb5e666c28e4" Alias="contactUsRequest" Level="2">
  <Info>
    <Name>Contact Us Request</Name>
    <Icon>icon-phone-ring color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Contact+Us</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a548fa74-937d-413a-b7e6-858bf937742a</Key>
      <Name>Attachment</Name>
      <Alias>attachment</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[مرفق]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ee92f34-6233-49e3-ba56-71c3c204ff26</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>3d337671-8113-418f-8b63-01246d7e1a22</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نوع الرسالة]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>239c4f9f-fbda-46e8-af1b-5962edeabd3b</Key>
      <Name>ComplainID</Name>
      <Alias>complainID</Alias>
      <Definition>b7b5e1d3-e02a-4b14-b9de-b61b454dcef3</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89c86a9a-f17c-42f3-a1bc-7e6d59ab618d</Key>
      <Name>Country</Name>
      <Alias>country</Alias>
      <Definition>20cbb3bb-20c4-4baf-a682-e95360ebfd52</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[بلد الاقامة]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a48ad3e0-29c7-476d-93db-008cb5604dab</Key>
      <Name>Submission Date</Name>
      <Alias>creationDate</Alias>
      <Definition>fbb68495-0269-46b9-9a58-1bc96f9ce273</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ الرسالة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>418802f1-ce09-4cdb-8446-047c69fd2074</Key>
      <Name>Email Address</Name>
      <Alias>emailAddress</Alias>
      <Definition>2e63cb94-94fc-4581-b51e-efbefeb42dde</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[البريد الالكتروني]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09a8c9d7-0f3f-486c-9c1f-abc0cd7b2e3e</Key>
      <Name>Name</Name>
      <Alias>fullName</Alias>
      <Definition>6187332a-47b4-41dc-bc7e-0be2a47fcd1a</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الاسم]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0ae41b4-641e-4ef9-9129-e2e9d53a2079</Key>
      <Name>IntegrationStatus</Name>
      <Alias>integrationStatus</Alias>
      <Definition>f700e7d9-6cf1-46e7-b72c-2fd9ad82f1ea</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e37867b-05ba-4400-abfa-f9b62b70b048</Key>
      <Name>Language</Name>
      <Alias>language</Alias>
      <Definition>1472c891-0d06-4792-9ac2-f214d85be37f</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[اللغة المستخدمة]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>081df99f-3fdf-4dd8-a6bf-26131ee9046a</Key>
      <Name>National ID</Name>
      <Alias>nationalID</Alias>
      <Definition>e5cfabd7-7359-424d-a2ae-bd51b2d7e9af</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الرقم القومي]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>902f4991-4d9a-4c5f-8cf0-c1cd252416cc</Key>
      <Name>Nationality</Name>
      <Alias>nationality</Alias>
      <Definition>e1079074-3f04-467d-9324-5c3ad00bcfd8</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الجنسية]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db963d87-6013-43a3-b888-d16737dc68a2</Key>
      <Name>Notes</Name>
      <Alias>notes</Alias>
      <Definition>8917b9b7-c434-4a16-bbe6-0fa83fcd025d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الرسالة]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>014c76ba-aafc-4d0c-810a-ef32684fe1a8</Key>
      <Name>Passport Number</Name>
      <Alias>passportNumber</Alias>
      <Definition>3a578f63-f7fa-4b23-a869-6e11960d6612</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[رقم جواز السفر]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>606c6a82-9309-4e5e-9b47-b96a0f28e84a</Key>
      <Name>Phone Number</Name>
      <Alias>phoneNumber</Alias>
      <Definition>d43cdde9-e1bc-4557-bf7f-5db106e55402</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[المحمول]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dcbc6d76-cf2a-4095-97dd-2d946cc9a42d</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>37861e0c-0d50-4092-965f-33c465ef2b4a</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>25344b4c-25b5-40c9-aac3-3aa2a25bda56</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>