<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="276e56d8-307d-44c0-a7ba-9eb1260e1088" Alias="contentTemplate3" Level="3">
  <Info>
    <Name>Content Template3 With KPIs</Name>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Templates/Content+Template+3</Folder>
    <Compositions />
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>878e303e-6f1c-4551-bc13-6c527ef62f2e</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>7dad224d-8e95-4ca8-80ce-567c0784cd82</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ef5ce95-e2f4-4b92-8db2-dc5c5fe6c2a4</Key>
      <Name>Breadcrumb Parent</Name>
      <Alias>breadcrumbParent</Alias>
      <Definition>f94faae2-0451-4a4e-9266-59a1118f2de6</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a custom parent page for breadcrumb navigation. Leave empty to use the actual content tree parent]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3f59b27-3c9c-407f-b291-f0275fc28c5f</Key>
      <Name>Content Sections</Name>
      <Alias>contentSections</Alias>
      <Definition>99b06333-9983-4057-907f-4afba562e6c6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/relatedContentSection">Related Content Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1203b2c6-1b93-47da-ba33-d6fa67d269c0</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/kpiSection">KPI Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ea1ee53-2553-4879-9094-a0101ea92357</Key>
      <Name>KPIs</Name>
      <Alias>kPIs</Alias>
      <Definition>64b672b6-290a-494b-b6a6-a37f23e860fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الإحصائيات والمؤشرات]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general/kpiSection">KPI Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94fce947-e094-4fbc-af33-42e6be6f0b0e</Key>
      <Name>More Sections</Name>
      <Alias>moreSections</Alias>
      <Definition>aa0c3018-76d2-4b4a-a0f8-55b4afa681cc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/detailsSections">Details Sections</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7188c56-f4ac-4cd8-b9a2-59c18a25b166</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>f25ffaa9-f58a-4a40-b40f-e98117ec6652</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a4a0509-eef4-437b-ba44-eba514c7a03b</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>f52d14d8-b3f8-4f20-8b43-0a3dc9653e00</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94e4f6d9-f3a9-4e45-bbe3-3dabf33dd8ec</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>8f9e1e53-28ef-409c-a4ca-dba86de4a0d4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>899cbb4a-0dba-490d-8ee2-84a380222444</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>ab2c6d69-3be8-4432-bf76-d5f05e7e010b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/kpiSection">KPI Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06d4f38c-4b4d-4707-8b58-876877d228bb</Key>
      <Caption>Related Content Section</Caption>
      <Alias>general/relatedContentSection</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>243b1b3f-e42f-44c0-89b5-1fbb4c4f4c8c</Key>
      <Caption>KPI Section</Caption>
      <Alias>general/kpiSection</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6b02e448-18ef-4c9d-991a-5b08de2a19e9</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7041a006-6fa6-4a11-81b3-fe86124420a0</Key>
      <Caption>Details Sections</Caption>
      <Alias>general/detailsSections</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ec85e418-3e75-4a6d-84e6-be0aa13608c7</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>