<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5cce77b-6954-4ae7-b24b-f15194a560e1" Alias="contactUsCategory" Level="3">
  <Info>
    <Name>Contact Us Category</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج أنواع رسائل اتصل بنا</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Contact+us+categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d4216e4a-4484-4e12-a362-3a68cd05f8cc</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>1984e166-2355-4d6a-a2e6-ffdec53bc8af</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>true</Mandatory>
      <Validation>^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$</Validation>
      <Description><![CDATA[البريد الإلكتروني]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Value is invalid, it does not match the correct mail pattern</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>915544fb-a303-47ec-ac0e-013b8a29dea8</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>90ffa282-20e4-47d0-bebb-44ef97e3591a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نوع الرسالة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>78450c9a-a064-44a0-9b93-aeb47d171628</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>