<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e8e4763f-06ab-4072-aaff-6708bfca1798" Alias="contentTemplateDetails" Level="3">
  <Info>
    <Name>Content Template Details</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Templates/ContentTemplateDetails</Folder>
    <Compositions />
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6ec621b1-203d-481c-bb14-a976b2b199a1</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>ed1bcf8d-47fa-4fca-944f-97a1fa52cb4f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9380efb-9593-4080-b204-a73952de6d80</Key>
      <Name>Breadcrumb Parent</Name>
      <Alias>breadcrumbParent</Alias>
      <Definition>f94faae2-0451-4a4e-9266-59a1118f2de6</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a custom parent page for breadcrumb navigation. Leave empty to use the actual content tree parent]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8809a7a8-f668-46aa-8e86-e318d9cc818e</Key>
      <Name>Brief</Name>
      <Alias>brief</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/section1">section1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c0e3d58-291a-417b-a61c-33044603b1fa</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>76a11314-f6f4-44c4-a6fa-79fbae5036ae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/section2">Section2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>879182b1-ecdb-49b7-ae30-304a32706907</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>0be6568c-b6d4-4f9f-a718-52641f3b5f81</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general/section1">section1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f6eeced-4b60-490c-a87d-456279348b11</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>c72a7b63-41fa-4597-ac88-988bc7bee6ec</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b0f059f-7934-43be-bfba-84521fb0c94c</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0b6642c7-1acd-466d-82cc-7d0a17304cea</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ad2a3eb-c64f-44a2-8dfe-16f4dbe12ebf</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>a219edf4-2889-401f-a06f-a5bc1c3a3475</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d487654-1639-4c24-a1f3-bcf94b7b398b</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>60252e5e-f65d-4a05-9f23-f87d46f196c1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/section1">section1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>756d13e6-6ede-4e7e-9073-bbeb33127dcb</Key>
      <Caption>section1</Caption>
      <Alias>general/section1</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>864c62b9-8c77-418d-872d-18860940d7c0</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>be2e48f7-b1ac-489f-b806-f48b459ebcdd</Key>
      <Caption>Section2</Caption>
      <Alias>general/section2</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>eb33580c-3d97-41cf-9b69-06a6625e9f5e</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>