<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ea320dd-100c-4831-ad9e-29996c9c6aa1" Alias="contactUsCategories" Level="3">
  <Info>
    <Name>Contact Us Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>أنواع رسائل اتصل بنا</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Contact+us+categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b5cce77b-6954-4ae7-b24b-f15194a560e1" SortOrder="0">contactUsCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>