<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fdcf7406-9105-4c36-900c-43b439305e33" Alias="contentTemplate4" Level="3">
  <Info>
    <Name>Content Template 4</Name>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Templates/Content+Template+4</Folder>
    <Compositions />
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>96ade9a6-c972-4aaa-9d7a-42c9dd6e4218</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>e17f32ac-258c-4dc2-8654-4a7d4a3f8c91</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27201fce-e336-40d2-b370-3e7158e236e1</Key>
      <Name>Breadcrumb Parent</Name>
      <Alias>breadcrumbParent</Alias>
      <Definition>f94faae2-0451-4a4e-9266-59a1118f2de6</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a custom parent page for breadcrumb navigation. Leave empty to use the actual content tree parent]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a8ffcc1-d3c9-4a65-859e-67c507c4520c</Key>
      <Name>Content Blocks</Name>
      <Alias>infrastructureContentBlocks</Alias>
      <Definition>0219f487-e542-47ca-b318-92ed9cfabe20</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section4">Section 4</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89272f9d-28cc-4373-a927-56075be31eed</Key>
      <Name>Infrastructure Title</Name>
      <Alias>infrastructureTitle</Alias>
      <Definition>5f2b97fd-1621-44dd-8ddf-2f9adac82cb3</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="section4">Section 4</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e72f9fa0-3f7b-4849-8f62-6cfcf0d28870</Key>
      <Name>KPIs</Name>
      <Alias>kPIs</Alias>
      <Definition>f15ae81f-e8f3-47cb-984f-70e3fbf4fabc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section1">Section 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6ae9ad0-f741-4804-9867-0ab78c3591cb</Key>
      <Name>Brief</Name>
      <Alias>kpisBrief</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="section1">Section 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92d26bf8-ede7-4efc-ab42-090895add76d</Key>
      <Name>Image</Name>
      <Alias>kpisImage</Alias>
      <Definition>ac678c57-6680-4b7b-90ba-419012b5c12a</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section1">Section 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7cb76128-5ca2-4af0-ae58-431c5201018d</Key>
      <Name>Title</Name>
      <Alias>kpisTitle</Alias>
      <Definition>5058e3e9-940b-4290-b2b8-0fe0f603d931</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="section1">Section 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b651401-f13c-4d1a-99f5-61e7b7356c0b</Key>
      <Name>Profile Aspects</Name>
      <Alias>profileAspects</Alias>
      <Definition>10315329-8d9c-4d6d-b45d-c5c02c5f632d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section2">Section 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f376b058-5c6c-4add-a6d0-abf67cc6e081</Key>
      <Name>Profile Title</Name>
      <Alias>profileTitle</Alias>
      <Definition>9d6f38ba-6dd5-4cf1-8045-8d8b01571373</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="section2">Section 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e30df115-cb61-4eb2-9708-1b73e45b731f</Key>
      <Name>Highlighted KPIs</Name>
      <Alias>resourcesHighlightedKPIs</Alias>
      <Definition>a755a4f4-23c7-4756-a62c-b30832fb9202</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section5">Section 5</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f147aa5e-b758-4b9e-9acc-130899e6f2b4</Key>
      <Name>Resources KPIs</Name>
      <Alias>resourcesKPIs</Alias>
      <Definition>3450fa65-af04-4b03-ad94-3b0a950733b8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section5">Section 5</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>936f0e34-ddf6-46cb-b5fd-e267b97ae5ce</Key>
      <Name>Resources Title</Name>
      <Alias>resourcesTitle</Alias>
      <Definition>92882565-9900-4ba2-85f0-180a61e077b6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="section5">Section 5</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f787c2bc-477d-4f5d-ade7-bab4f89ddaee</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>241fe7c7-0fd7-446a-bd36-f2f896264da4</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3529dacc-5298-42da-b412-31344884e4dc</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>4f773a1d-ccc6-4b81-acc5-f3d33703edfa</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>145f5893-cc26-4f78-a1b5-3449f88c8ef1</Key>
      <Name>Show Section</Name>
      <Alias>showInfrastructureSection</Alias>
      <Definition>f539e902-427b-494d-a8b0-57534735348d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="section4">Section 4</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a649bdce-5be9-4840-aac9-b10a6919c32b</Key>
      <Name>Show Section</Name>
      <Alias>showProfileSection</Alias>
      <Definition>f539e902-427b-494d-a8b0-57534735348d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="section2">Section 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>452e699e-d883-405c-82df-429bd0e9130e</Key>
      <Name>Show Section</Name>
      <Alias>showResourcesSection</Alias>
      <Definition>f539e902-427b-494d-a8b0-57534735348d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="section5">Section 5</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f99d409d-b3a8-465f-8c94-112f5aa57bc4</Key>
      <Name>Show  Section</Name>
      <Alias>showSnapshotSection</Alias>
      <Definition>f539e902-427b-494d-a8b0-57534735348d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="section3">Section 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc644ae7-9cee-429e-8576-5d85cfe6a352</Key>
      <Name>Highlighted KPIs</Name>
      <Alias>snapshotHighlightedKPIs</Alias>
      <Definition>a755a4f4-23c7-4756-a62c-b30832fb9202</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section3">Section 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50b94ea5-b1e7-443d-a69b-e55f518ebdfe</Key>
      <Name>Snapshot KPIs</Name>
      <Alias>snapshotKPIs</Alias>
      <Definition>3450fa65-af04-4b03-ad94-3b0a950733b8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section3">Section 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>520078b5-de32-461e-8c44-d6ea925b93e7</Key>
      <Name>Snapshot Title</Name>
      <Alias>snapshotTitle</Alias>
      <Definition>00ddf041-312f-425f-860e-720c51081020</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="section3">Section 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>187e8d55-65f9-40c3-ac42-c664567b978d</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>3c9f8c72-496e-4b64-911d-67b5b854f79a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>04634cd3-c565-4d72-8a0a-1233a82b9c80</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3c987d0b-833d-4827-93c6-5e724caba425</Key>
      <Caption>Section 1</Caption>
      <Alias>section1</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>85f95568-09fa-47de-bde5-e069c3f90028</Key>
      <Caption>Section 5</Caption>
      <Alias>section5</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>916b13bc-e7b4-43a4-be18-453c98870dd9</Key>
      <Caption>Section 3</Caption>
      <Alias>section3</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>9f9fb992-21cf-44cd-86d1-4aeddd4b0c57</Key>
      <Caption>Section 2</Caption>
      <Alias>section2</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>c736b483-beaa-46c9-a28d-4a8a9c8b59f8</Key>
      <Caption>Section 4</Caption>
      <Alias>section4</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>