<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3c97710-612d-400f-8b1e-5b3191015a17" Alias="contactUs" Level="2">
  <Info>
    <Name>Contact Us</Name>
    <Icon>icon-old-phone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>اتصل بنا</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Contact+Us</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2e86cbce-0a87-493f-990c-dad6ce0f643d</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>d1baac8b-8d09-4b36-aea7-70bd9b7f3aad</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce9382b9-73bd-41e0-b624-53794500da4e</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>b60b2f77-5b38-4457-8e09-184299603b58</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة الخلفية في الصفحة]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7516fe60-f2f8-455e-b2e1-dc710e94e61d</Key>
      <Name>Details</Name>
      <Alias>brief</Alias>
      <Definition>48a8592e-6670-452e-ae66-75b9df51f555</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[التفاصيل]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0eabb2ab-306d-4217-b9f8-ec8e9ce18783</Key>
      <Name>E-mail Address</Name>
      <Alias>eMailAddress</Alias>
      <Definition>23bece9f-69b7-4479-81a9-a9f368476dd5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$</Validation>
      <Description><![CDATA[البريد الالكتروني]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Value is invalid, it does not match the correct mail pattern</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91bef77a-90b4-4ca4-9ef1-cc6420d01c55</Key>
      <Name>HotLine</Name>
      <Alias>hotLine</Alias>
      <Definition>59a5ca7c-18c0-4105-ad2f-68fbace46bff</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الخط الساخن]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>439181f0-90b2-45e5-a79b-913808ee0226</Key>
      <Name>Phone Numbers</Name>
      <Alias>phoneNumbers</Alias>
      <Definition>681f1d89-3dcd-4f72-9c91-e669f0515545</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9\-\(\)\+\ ]+\z</Validation>
      <Description><![CDATA[رقم التليفون]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>The phone number doesn't accept characters</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05aa6ab6-40e9-4d16-8525-886d07d0d67b</Key>
      <Name>SubTitle</Name>
      <Alias>subTitle</Alias>
      <Definition>920512ae-1ca7-483a-b3db-a7f45f3f1c56</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الشعار]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aabc2c03-0cd1-4c6d-bbbf-0d3b2bf9f1ef</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>b1fb57ae-a0e8-4860-a232-ddfe64171682</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3d4094ec-a42e-44d0-af59-ec4c997d5081</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>