<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11f9e4ff-b3f4-4f04-8aea-2171ca03918c" Alias="countries" Level="3">
  <Info>
    <Name>Countries</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Countries</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="17856a4b-4697-48b0-9e12-37f5808275f8" SortOrder="0">country</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>