<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca1f2778-b83f-4d4b-8aa0-b2db3ef7fd83" Alias="cRMSettings" Level="2">
  <Info>
    <Name>CRM Settings</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77d79ccd-a8a9-4a0d-9c88-2df7744d78af</Key>
      <Name>Desktop Image</Name>
      <Alias>desktopImage</Alias>
      <Definition>80b387ed-7f87-4e65-ba8b-bf3b0f07d715</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>745a5bf7-62f9-4584-9e7b-88a050b727b1</Key>
      <Name>First Indicator Name</Name>
      <Alias>firstIndicatorName</Alias>
      <Definition>84f63292-03c2-4221-b3e9-a4a85c90fd8d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[المؤشر الأول]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73c3943f-95a9-402e-bf86-d0940d93aaea</Key>
      <Name>Mobile Image</Name>
      <Alias>mobileImage</Alias>
      <Definition>8e27f611-5ab4-4ded-a345-22a95f887f21</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a610eadf-cc5f-4443-bdf7-9449df3767b6</Key>
      <Name>Second Indicator Name</Name>
      <Alias>secondIndicatorName</Alias>
      <Definition>84f63292-03c2-4221-b3e9-a4a85c90fd8d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[المؤشر الثاني]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d051a01-5f08-4d56-8e89-de2b0bed27c7</Key>
      <Name>Statistics Url</Name>
      <Alias>statisticsUrl</Alias>
      <Definition>8cd80a2e-799c-445d-ad10-3601ab221cd7</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fd540ff8-b3c6-43a4-98d9-7c06f34bf675</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>