<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2bc50c1-4adc-4614-9718-663964b933b7" Alias="egyptIsReadyItem" Level="2">
  <Info>
    <Name>Highlight</Name>
    <Icon>icon-handshake color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Highlights</Folder>
    <Compositions />
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d33298d8-fae3-467e-9400-8dda97bd2c26</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وصف]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36835d0e-6cfd-4453-b310-8ccf4c1889ac</Key>
      <Name>First brief</Name>
      <Alias>firstBrief</Alias>
      <Definition>2597d80b-7e1a-43fa-a7a0-2763389076e8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان الفرعي]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1532c57d-753f-4d14-9473-88e3e861930d</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>b18a2e05-ece0-4fb9-8852-ec02c5cdecc1</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[صورة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99d9f2da-d133-4d6b-9105-733b866d5c3c</Key>
      <Name>KPIs</Name>
      <Alias>kPIs</Alias>
      <Definition>fce93678-2497-495e-aed8-e9b8286f36d1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الإحصائيات والمؤشرات]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>edb8da6f-828d-483b-9b97-3bb75585caf5</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>efa3c311-70af-44a7-a22c-de2d4e835295</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f47e899-4eb1-4cac-b651-0f291b30b258</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2f26020-3369-4622-a823-29d0e9b66b6e</Key>
      <Name>Second brief</Name>
      <Alias>secondBrief</Alias>
      <Definition>ebefc6e7-058d-47c4-84f0-8ceb6b469200</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نبذة عن الافتة]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31a95804-c9a1-443a-98ad-da9c873e08a6</Key>
      <Name>Show Slogan</Name>
      <Alias>showSlogan</Alias>
      <Definition>b95b7633-4a8e-4249-8f55-54cfbf9096e7</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[اظهار الشعار]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>953bbacf-078c-48f6-82c7-82f22fd42336</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>40d45319-0d63-475c-a15b-e3ea70a22f5f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Title is required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ad93cbb-2a2b-488c-9b9e-3f18bd60d072</Key>
      <Name>URLs</Name>
      <Alias>uRLs</Alias>
      <Definition>7d156dc2-f0ee-448c-89f2-3cc828210e37</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الروابط]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>734ac084-37ae-4439-a5cf-079d6c1b74ef</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>758ab9dc-230a-44cb-92a2-3e1a106a6f8c</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[فيديو]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general/content">content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3e2be642-8132-4eab-b85f-f5737865548a</Key>
      <Caption>content</Caption>
      <Alias>general/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad26b4e4-0a6b-4eb4-98f6-4b32f132990a</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d970e8fe-6dae-4646-80ca-1e7a284c7626</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>