<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88aeeb2e-8a49-4486-87f1-ed3402798545" Alias="egyptIsReady" Level="2">
  <Info>
    <Name>Highlights</Name>
    <Icon>icon-handshake color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Highlights</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b2bc50c1-4adc-4614-9718-663964b933b7" SortOrder="0">egyptIsReadyItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b1a59cab-a5ce-4d87-a8bb-57d3bd42832b</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>efa3c311-70af-44a7-a22c-de2d4e835295</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb897f3c-8250-4e89-ab84-4ef2c0e4fee5</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>17d7aba7-db9f-4e94-b862-38605eead74f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b5a6577-9fb5-4be2-8378-b234e00a46b7</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>080309f2-1ab1-4ab8-b7d0-235c4f9e509b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>02572e99-520b-4725-9033-c8999b5ed470</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>70567337-aac9-4b2a-97f8-31601552f494</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>