<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54392e3b-7e85-4ee6-8f33-fc518739e999" Alias="eventCategories" Level="3">
  <Info>
    <Name>EventCategories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>فئات الفعاليات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Event+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dbb1b326-66a1-489f-b027-723e2fa504b6" SortOrder="0">eventCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>