<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b36446d-ab04-417b-a03a-95a3d12595bb" Alias="event" Level="2">
  <Info>
    <Name>Event</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج إدارة الفاعليات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Events</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>63e0ec1b-db66-4ad5-918d-55482fcdaef5</Key>
      <Name>Brief</Name>
      <Alias>brief</Alias>
      <Definition>c397e7e3-506d-4202-8532-79c450bbb432</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نبذة عن الفعالية]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ad39398-0ae1-4c6d-896c-60d72b47e88b</Key>
      <Name>Closing Time</Name>
      <Alias>closingTime</Alias>
      <Definition>50464748-f922-4404-8611-ea0863b1f169</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وقت نهاية الفعالية]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>825f7fbd-29b2-44cc-93fa-89a8fcc1706c</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وصف الفعالية]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc332bdf-013a-4b48-b56d-d3a8b45a98d6</Key>
      <Name>End Date</Name>
      <Alias>endDate</Alias>
      <Definition>39ba9923-c09b-476b-ba4f-e08144b5e82f</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ نهاية الفعالية]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b22576d8-885d-4efc-ba9e-60069f95c43b</Key>
      <Name>Event Category</Name>
      <Alias>eventCategory</Alias>
      <Definition>9ad63202-c1cf-4525-933a-fbd6db4cb2f5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[فئة الفعالية]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60916448-ef93-4867-a917-923cffe1efb9</Key>
      <Name>Event Tags</Name>
      <Alias>eventTags</Alias>
      <Definition>72294f6d-ca21-482a-9028-dbfb9692a481</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[كلمات دالة]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed0e5c69-4443-4660-a1b8-3884ad05c8bc</Key>
      <Name>Hosted By</Name>
      <Alias>hostedBy</Alias>
      <Definition>656979b4-8767-42f4-abad-54dc39b3a2af</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[يتم الاستضافة بواسطة]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18751ceb-4de7-4c43-93f9-d145c436acfc</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>37a79fdf-5f25-45f5-96b7-c4a214d8f44a</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[صورة الفعالية]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9895a5b7-13e7-4ec6-a67f-f74a39201ddf</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>c4e2cbe3-bbee-48ec-af0e-a6dc4e8a700a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[موقع الفعالية]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ee9b0b5-1d57-4371-9990-1f50db2e9d23</Key>
      <Name>Opening Time</Name>
      <Alias>openingTime</Alias>
      <Definition>50464748-f922-4404-8611-ea0863b1f169</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وقت بداية الفعالية]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1d9b28f-048c-4f28-9b99-dfebef8a6fd6</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa9a260e-e65c-49d4-95a8-47155c93061b</Key>
      <Name>Brief</Name>
      <Alias>relatedMediaBrief</Alias>
      <Definition>7c91ebcb-8b4d-46fc-a3de-cb30c62fac54</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="relatedMedia">Related Media</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9d84611-a27e-4c16-8edf-5ccc9d7a2e6b</Key>
      <Name>Related Media Items</Name>
      <Alias>relatedMediaItems</Alias>
      <Definition>bdef095f-004f-4562-a067-a2c197200b55</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relatedMedia">Related Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>882f0d88-e308-4b14-895c-58a341403de2</Key>
      <Name>Title</Name>
      <Alias>relatedMediaTitles</Alias>
      <Definition>05335c7e-a8cf-4c60-a2fc-440cf3c98dd8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="relatedMedia">Related Media</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8ada99a-03e7-4be6-8ca1-abe9ecadbb93</Key>
      <Name>Start Date</Name>
      <Alias>startDate</Alias>
      <Definition>39ba9923-c09b-476b-ba4f-e08144b5e82f</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ بداية الفعالية]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c94505f-1368-4067-b5bb-d600aa32c1f8</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>d213624a-4dcc-43fb-9a4b-e93da225976b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الفعالية]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a67e3cf8-98fe-42ad-a3b4-dd5d545bd06a</Key>
      <Caption>Related Media</Caption>
      <Alias>relatedMedia</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>b3936f26-0808-4f3d-8d4b-90ef9fe84d62</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>