<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0339692d-2e6c-4826-ae81-1c9501447f36" Alias="fAQCategories" Level="3">
  <Info>
    <Name>FAQ Categories</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>فئات الأسئلة الشائعة</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/FAQs+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3f45ce30-64ff-4804-95a7-036eaaad1c2d" SortOrder="0">fAQCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>