<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a528974-70fd-4623-bfd6-547e897c6320" Alias="fAQs" Level="2">
  <Info>
    <Name>FAQs</Name>
    <Icon>icon-chat-active color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>الأسئلة الشائعة</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>FAQs</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="29179ae5-343a-4640-8137-e915107e396d" SortOrder="0">fAQ</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>608a0b62-3690-4049-996c-ce616127e5ea</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>bf6b1dea-abbe-461d-96c0-7817817aeb44</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة الخلفية في الصفحة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67a34d60-d0c4-4ee3-a97d-954280d6bb74</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>5f2fe2e1-7e0d-42c6-9e12-fc413dd26a2c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6d0b188-c406-4205-906e-393e8c501732</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f14a6fd2-6b25-471e-9802-fbfce31a2732</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c96208c3-29f5-4ee9-9fa8-bb702c8b08ab</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>