<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63859d14-c768-4477-897a-265f2b057d4a" Alias="genders" Level="3">
  <Info>
    <Name>Genders</Name>
    <Icon>icon-male-and-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>الأنواع</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Genders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="14663e80-b6a6-47f5-ab4d-eb3330e6cfd7" SortOrder="0">gender</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>