<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14663e80-b6a6-47f5-ab4d-eb3330e6cfd7" Alias="gender" Level="3">
  <Info>
    <Name>Gender</Name>
    <Icon>icon-male-and-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>النوع</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Genders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7cd6d42b-edda-43db-b329-bdeedd3ff6fe</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>2ed1ec62-bbef-43b9-ab04-7707eaf59a23</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[النوع]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>048e9f5f-cf54-4d35-a26b-a5012971c951</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>