<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="68d82bf1-b9e6-4426-a8c1-240b173dd0c9" Alias="highlightVideo" Level="2">
  <Info>
    <Name>Highlight Video</Name>
    <Icon>icon-video color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>الفيديو البارز</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Highlight+Video</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>637dc61d-eb39-42f1-88af-32288ca3ab5c</Key>
      <Name>Brief</Name>
      <Alias>brief</Alias>
      <Definition>d7c92844-96d5-478e-9800-067284f5dafe</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نبذة عن الفيديو]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73b161d0-7d5e-4399-b073-8711cddd1819</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>1aac1031-0660-4afb-b997-84daa5930197</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[صورة الفيديو]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>634da0fa-529f-4aa6-98e8-ce3faa2e7f07</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bae04dab-bd4d-430d-8cb4-98682d307bdd</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>458a6c1a-4513-4e99-b7fe-f9dfb8c7b19f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الفيديو]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce8482f0-7765-44c3-a47e-728a6498e732</Key>
      <Name>URL</Name>
      <Alias>uRL</Alias>
      <Definition>b3cc1099-3d5f-4456-a5ad-fa7b6963a99b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[URL عنوان]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d8c2e8c-fb96-4441-a3ec-e1190a39dba6</Key>
      <Name>URL Description</Name>
      <Alias>uRLDescription</Alias>
      <Definition>bef657e9-4348-429e-aacf-4dd0d5c71541</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[URL Button الوصف الموجود علي]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c44fc96f-4b9a-41ea-a480-8a8f97bd9fb4</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>70575fe7-9812-4396-bbe1-c81a76db71b5</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الفيديو]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a2bd0dea-0a93-4cac-bf6f-55f9c3a312d6</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>