<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebef8e8e-139b-4656-9f53-2aabf9e71005" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a43faa59-f302-404e-863d-ac3d66ec8928" SortOrder="0">siteSettings</ContentType>
    <ContentType Key="87a68805-10ee-43c2-84ae-3aa393aef943" SortOrder="1">announcements</ContentType>
    <ContentType Key="c3c97710-612d-400f-8b1e-5b3191015a17" SortOrder="2">contactUs</ContentType>
    <ContentType Key="d3d069d8-de90-46dd-b644-5a5779c0ef0f" SortOrder="3">usefulLinks</ContentType>
    <ContentType Key="0acf709b-773c-4bbb-a832-7895bf88e47b" SortOrder="4">news</ContentType>
    <ContentType Key="4ea320dd-100c-4831-ad9e-29996c9c6aa1" SortOrder="5">contactUsCategories</ContentType>
    <ContentType Key="4a528974-70fd-4623-bfd6-547e897c6320" SortOrder="6">fAQs</ContentType>
    <ContentType Key="0339692d-2e6c-4826-ae81-1c9501447f36" SortOrder="7">fAQCategories</ContentType>
    <ContentType Key="1061bc21-66c0-4f61-bb61-69ee1afefdcc" SortOrder="8">polls</ContentType>
    <ContentType Key="54392e3b-7e85-4ee6-8f33-fc518739e999" SortOrder="9">eventCategories</ContentType>
    <ContentType Key="129d3bf2-c28a-4708-915d-730c9cd2317c" SortOrder="10">videoAlbumCategories</ContentType>
    <ContentType Key="9c900f45-5ece-46b3-99c6-f76618ac37c9" SortOrder="11">photoAlbumCategories</ContentType>
    <ContentType Key="e1d0565b-5c1e-4aaf-bda0-6f94e2f20a8d" SortOrder="12">photoAlbums</ContentType>
    <ContentType Key="8a1fc150-8aa3-4b23-921a-0932817adbae" SortOrder="13">videoAlbums</ContentType>
    <ContentType Key="724a04d9-d101-4fe7-9c8c-1f9261018c9f" SortOrder="14">publications</ContentType>
    <ContentType Key="68d82bf1-b9e6-4426-a8c1-240b173dd0c9" SortOrder="15">highlightVideo</ContentType>
    <ContentType Key="96d6e9ce-d67d-4c5e-97fa-6d445b2a901f" SortOrder="16">relatedParties</ContentType>
    <ContentType Key="537569e4-3a86-4a9e-96e2-f3f0d38de25e" SortOrder="17">sitemaphtml</ContentType>
    <ContentType Key="c4dabcc3-2d94-41f7-b308-c4bc8e962a01" SortOrder="18">contactUsRequests</ContentType>
    <ContentType Key="7f5036d1-4ced-4a47-bf64-9759be6d5dfe" SortOrder="19">whoWeAre</ContentType>
    <ContentType Key="c998a0c7-5e39-4d1d-9ccb-471628813671" SortOrder="20">contentTemplates</ContentType>
    <ContentType Key="b74fc46f-7600-4a53-8c07-903218e0d8a7" SortOrder="21">contentTemplate</ContentType>
    <ContentType Key="11f9e4ff-b3f4-4f04-8aea-2171ca03918c" SortOrder="22">countries</ContentType>
    <ContentType Key="63859d14-c768-4477-897a-265f2b057d4a" SortOrder="23">genders</ContentType>
    <ContentType Key="406e817e-15ad-49ef-b043-96a493009682" SortOrder="24">sectors</ContentType>
    <ContentType Key="dc809800-b6fb-4afd-842b-6f4a3bb3dc85" SortOrder="25">successStories</ContentType>
    <ContentType Key="92bf7193-bd54-4884-aac2-1b5b8647471e" SortOrder="26">successStoriesSectors</ContentType>
    <ContentType Key="88aeeb2e-8a49-4486-87f1-ed3402798545" SortOrder="27">egyptIsReady</ContentType>
    <ContentType Key="9f40cbe9-b913-40e0-b0b3-24e344e66069" SortOrder="28">whatGafiOffers</ContentType>
    <ContentType Key="f95e6a0b-9116-4a74-a11d-be04325661e1" SortOrder="29">newsCategories</ContentType>
    <ContentType Key="957f3cc1-256e-43a0-b2a1-3dceadce80fd" SortOrder="30">nationalities</ContentType>
    <ContentType Key="cf54d22b-27a8-4cf4-84ab-28e5d97ca4d6" SortOrder="31">partners</ContentType>
    <ContentType Key="b0f79618-fb17-4fba-a8b3-e602ad0c6155" SortOrder="32">partnerCategories</ContentType>
    <ContentType Key="c7c7d6ed-c512-412e-8dfe-af3cbf767783" SortOrder="33">partnerTypes</ContentType>
    <ContentType Key="d8f66bef-cca2-42f3-8d54-f6e4b0f02c18" SortOrder="34">booklets</ContentType>
    <ContentType Key="3d7691e1-de3c-42ab-9eeb-46752edcfd03" SortOrder="35">bookletsLanguages</ContentType>
    <ContentType Key="cea7668e-e836-473d-86ee-e7702f7f58b4" SortOrder="36">bookletsCategories</ContentType>
    <ContentType Key="3e3df1df-6869-4e7e-9de3-4b2411fa3a11" SortOrder="37">subSectors</ContentType>
    <ContentType Key="3090453f-84f9-4616-a1d9-47a35d498531" SortOrder="38">tesmonials</ContentType>
    <ContentType Key="29b521e8-c87f-4c72-bd0b-b0f7407bca77" SortOrder="39">testmonialsCategories</ContentType>
    <ContentType Key="9600ea62-2ea7-4edc-8fd7-74ad6de34710" SortOrder="40">resourcesTypes</ContentType>
    <ContentType Key="3e623209-cd45-4134-85b1-0824333c537f" SortOrder="41">successStoriesCategories</ContentType>
    <ContentType Key="f15e78fb-1b43-4652-93bd-95c1926201de" SortOrder="42">contentTemplate1</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4b2db4f8-29ba-4b28-b148-bfb344b12e98</Key>
      <Name>Show Events On Home</Name>
      <Alias>showEventsOnHome</Alias>
      <Definition>cb84e686-3c67-47c2-8c6f-73a33b34bb3d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95bf91cc-b262-4da7-97e5-2f72250274e5</Key>
      <Name>Show Publications On Home</Name>
      <Alias>showPublicationsOnHome</Alias>
      <Definition>397d27b4-f5da-442c-835f-12f2dd280f2e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81c70d61-0d62-4588-bb15-424045b9b0a3</Key>
      <Name>Start a business</Name>
      <Alias>startABusiness</Alias>
      <Definition>f65a9b9d-5db1-48ab-b235-98eb4d29ed40</Definition>
      <Type>Custom.LinkItemEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>203eb45a-0dc8-4df8-affc-045dd730d26a</Key>
      <Caption>Configuration</Caption>
      <Alias>general/configuration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3ce93f65-3bc6-4af9-9a48-5b281b1a01ba</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>