<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc47e558-5ce9-4a28-8dff-ad4e02f5ba30" Alias="imageMediaFile" Level="3">
  <Info>
    <Name>Image Media File</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Media/Media+File+Types</Folder>
    <Compositions>
      <Composition Key="b6aa9a93-dd77-4497-bfa1-ff881bc90fc8">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b64d0e85-948e-499c-9161-f5421655a6f5</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>7dd5f46c-b9cd-4f7e-926c-0e59d200bc30</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c392a60-07ea-40a3-bd93-f6c60321cd9c</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>a86e0b0d-fa65-4739-8318-38996ad0ae38</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>32f5e53f-2f7f-48ba-9f9f-b6b87004935a</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>