<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="794ae953-a846-4a09-a080-0ce61e417c5e" Alias="lookupItem" Level="2">
  <Info>
    <Name>Lookup Item</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="794ae953-a846-4a09-a080-0ce61e417c5e" SortOrder="0">lookupItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9f0e4c83-5830-42ed-8fe7-2afead2d4a92</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f14a6fd2-6b25-471e-9802-fbfce31a2732</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>30165369-b096-4856-ace2-ab20b0d345b9</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>