<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cbe8c002-bc2b-438f-ab8e-14e73b8bf20a" Alias="mediaCenter" Level="2">
  <Info>
    <Name>Media Center</Name>
    <Icon>icon-umb-media color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>الوسائط</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Media+Center</Folder>
    <Compositions />
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="73a1ec8c-117d-42ac-a70f-0b9fe5636945" SortOrder="0">mediaCenterItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>64f22727-ca2d-40fa-8b3f-b7f4e30dda5c</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>9d987067-fb26-41b2-904a-458e12ce130b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8d097f7-3fcf-4edb-948c-235e993e825d</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>addd22ea-9491-488d-b77f-4e50f2c938ad</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b532853-806e-4cbb-b933-4408a6400605</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0d32e30a-f07d-4555-bc88-0eeeb9cfe243</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>283d4428-9a7c-4870-8f3c-c44ad40792e8</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>0d46f4ff-1b9e-47fa-92ab-af12aac4a946</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9d5cc2f-f9f0-4794-b591-ae2d61963e81</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>6e2c64db-3ed6-4b0f-b604-9e0e77f72027</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3cb1e925-8d0f-4e4e-b130-c3d7a2c5868c</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>