<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52c7164b-366d-4b7e-b7ed-8af805a7647b" Alias="mediaHub" Level="3">
  <Info>
    <Name>Media Hub</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Media/Media+File+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cc47e558-5ce9-4a28-8dff-ad4e02f5ba30" SortOrder="0">imageMediaFile</ContentType>
    <ContentType Key="c12d0d6d-3359-48b9-b253-02413369dd64" SortOrder="2">videoMediaFile</ContentType>
    <ContentType Key="52c7164b-366d-4b7e-b7ed-8af805a7647b" SortOrder="4">mediaHub</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e8145388-7c3d-431c-b8a4-483f15bcb02c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f14a6fd2-6b25-471e-9802-fbfce31a2732</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mediaHub">MediaHub</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3b7e1c6e-13ce-4319-a1a2-f4b750bc7dbd</Key>
      <Caption>MediaHub</Caption>
      <Alias>mediaHub</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>