<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc525fba-3e59-4491-9f94-ed817076d314" Alias="mediaCategories" Level="3">
  <Info>
    <Name>Media Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Media+Albums+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="63ba1f3a-2735-439a-a53a-a8e4443df3c5" SortOrder="0">mediaCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>