<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="957f3cc1-256e-43a0-b2a1-3dceadce80fd" Alias="nationalities" Level="3">
  <Info>
    <Name>Nationalities</Name>
    <Icon>icon-flag-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>الجنسيات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Nationalities</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9ee3b953-0ee2-455e-9e20-92b715781f5b" SortOrder="0">nationality</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>