<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f95e6a0b-9116-4a74-a11d-be04325661e1" Alias="newsCategories" Level="3">
  <Info>
    <Name>News Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/News+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="79fbf279-f8b3-4bcc-8708-95fb92541294" SortOrder="0">newsCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>