<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e455892a-9b16-49a3-810f-1bf0fc332e52" Alias="newsLettersTemplates" Level="2">
  <Info>
    <Name>NewsLetters Templates</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NewsLetters</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7d6c060b-317f-46bc-888c-26b8a3b2e98d" SortOrder="0">newsLetterTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>