<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7c7d6ed-c512-412e-8dfe-af3cbf767783" Alias="partnerTypes" Level="3">
  <Info>
    <Name>Partner Types</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Partner+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9d7ea6a5-d95a-4aa7-b3f5-b46747df528b" SortOrder="0">partnerType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>