<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0f79618-fb17-4fba-a8b3-e602ad0c6155" Alias="partnerCategories" Level="3">
  <Info>
    <Name>Partner Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Partner+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="15c51e75-be88-4195-a206-eeff331a3f5a" SortOrder="0">partnerCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>