<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bdc4b4e4-3ed0-459f-b882-c2ae6f9188cf" Alias="photoAlbumItem" Level="4">
  <Info>
    <Name>Photo Album Item</Name>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج إدارة الصور</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Media/Media+Albums/Photo+Albums</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f69be7c-31c6-45fe-bf05-fe5cc3701347</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c7c91f37-dfa1-4d0b-942b-f432cb6f72d4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وصف الصورة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf9ad03f-bf83-4aea-a2a8-f8fd191e4c83</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>7011ab00-217b-4f26-b139-683ac7561944</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الملف]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21f95179-ffda-430e-ae83-1de8850318c8</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>9e3caa89-72d4-4c7e-9e51-549b6308d411</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94ccbb2a-a3fe-4772-8a00-cb916191caff</Key>
      <Name>Shown On Home Page</Name>
      <Alias>shownOnHomePage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[يظهر في الصفحة الرئيسة]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0826558-5f47-4d2d-a6ea-caf7870cce8e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>3bd308d8-4699-4db4-9203-f8f6afec728e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصورة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>93b1d32e-70d8-4a0b-8499-fbf8ee652c2f</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>