<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1d0565b-5c1e-4aaf-bda0-6f94e2f20a8d" Alias="photoAlbums" Level="4">
  <Info>
    <Name>Photo Albums</Name>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>ألبومات الصور</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Media/Media+Albums/Photo+Albums</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6828b904-7014-4578-bcb4-1c2c1b9d79ac" SortOrder="0">photoAlbum</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d78f81e7-f0d6-4329-977e-e8df2e271102</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>19423629-4c11-48e4-a210-cfe23e0b8f2b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>102c6ed3-38ca-41d0-b010-67da0b066dca</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>17d7aba7-db9f-4e94-b862-38605eead74f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53785193-0686-4d6c-8952-fd8a22a837b6</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>de6a59bd-80d4-480c-bf6d-c5869ebedf63</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>39fef4fc-154b-40e8-88a9-4462540f700e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>571ef77c-cb68-4a43-8e26-06c150e9a316</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cdbfd37c-4dbe-4e80-8ecb-d1662eff6096</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>