<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="38c4471c-3afc-463f-89fe-a30a81500c84" Alias="poll" Level="2">
  <Info>
    <Name>Poll</Name>
    <Icon>icon-checkbox-dotted-active color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج استطلاعات الرأي</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Polls</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1f77d5d-2fe2-4763-aa4b-1d72c47c102b</Key>
      <Name>Answers Options</Name>
      <Alias>answersOptions</Alias>
      <Definition>123d5f00-2754-4dbe-955a-95be66ed03ee</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[خيار الإجابة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4df9be54-747d-4d7d-a818-202af769a2fb</Key>
      <Name>End Date</Name>
      <Alias>endDate</Alias>
      <Definition>733c3ed5-a126-47f6-8572-35bd46a5dab0</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ نهاية الاستطلاع]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff7b7a6d-ce95-475b-8995-b144057c89a4</Key>
      <Name>Active Poll and Show in Home Page</Name>
      <Alias>isShowInHomePage</Alias>
      <Definition>72606a03-b87a-41fd-a3a1-17baef4dead3</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[استطلاع مفعل و يظهر في الصفحة الرئيسية]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32e5a3e2-f30e-4ff5-a656-15088fc38146</Key>
      <Name>Is Show in Polls Page</Name>
      <Alias>isShowInPollsPage</Alias>
      <Definition>3fa109e8-64a9-48bc-a2fa-e181ec410ad4</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[يظهر في صفحة قائمة الاستطلاعات]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d925916-c921-4861-abae-f45b484badbb</Key>
      <Name>Poll Title</Name>
      <Alias>pollTitle</Alias>
      <Definition>f80df6b0-7857-495f-81b6-d2741edc77c8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الاستطلاع]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f004546b-7011-4db0-9f61-567ae57444ea</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1a00a15-25dd-43dd-b471-5ec7f53d0b0b</Key>
      <Name>Start Date</Name>
      <Alias>startDate</Alias>
      <Definition>e1f3c083-87c2-4faa-ada6-d82bb6f923dc</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ بداية الاستطلاع]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f44e189c-363d-474d-996e-e2028881a033</Key>
      <Name>Total Options Answers Count</Name>
      <Alias>totalOptionsAnswersCount</Alias>
      <Definition>6cc6178c-17cd-406b-9542-c3ba7f577b6d</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[إجمالى عدد إجابات الخيارات]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general/general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>76e931b3-e426-4adc-a41b-0ed20b292ca8</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a6b15a85-a8d9-4e2c-9175-7c741d3e9924</Key>
      <Caption>General</Caption>
      <Alias>general/general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>