<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b7f4a81-1706-4c67-b7d6-7ee3e4eb6808" Alias="pollOption" Level="2">
  <Info>
    <Name>Poll Option</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>خيار الإستطلاع</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Polls</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09e6f652-7135-4e36-b128-e25c29c8ac62</Key>
      <Name>Option</Name>
      <Alias>option</Alias>
      <Definition>29021280-5fc0-4118-9d26-a4ed30a161a6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[خيار الإجابة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6de3d7c-0327-497f-8d17-a121ee6417b7</Key>
      <Name>Option Answer Percentage</Name>
      <Alias>optionAnswerPercentage</Alias>
      <Definition>5aef92c8-552f-4bd8-9ced-ffc34c08d119</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[النسبة المئوية لإجابة الخيار]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>824b825a-ab53-41d6-bbf5-5484845bd0f3</Key>
      <Name>Option Answers Count</Name>
      <Alias>optionAnswersCount</Alias>
      <Definition>6cc6178c-17cd-406b-9542-c3ba7f577b6d</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عدد إجابات الخيار]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f1ddfa32-212a-4477-ba62-6bed995226f5</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>