<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="724a04d9-d101-4fe7-9c8c-1f9261018c9f" Alias="publications" Level="2">
  <Info>
    <Name>Resources</Name>
    <Icon>icon-cloud-upload color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>الاصدارات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Resources</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8a2ef5f1-573c-46c8-90eb-d2f78face743" SortOrder="0">publication</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8bb865d0-f901-44f1-a583-ec0f56077d25</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>4af2f003-71f6-418e-bf40-a3707ebb2d41</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة الخلفية في الصفحة]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d274919-ac84-40f6-868a-a4728497b21e</Key>
      <Name>Section Brief</Name>
      <Alias>sectionBrief</Alias>
      <Definition>17d7aba7-db9f-4e94-b862-38605eead74f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a039395c-1ced-488c-9248-ffca126c2be8</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>9168c510-0ee4-4b22-a304-1d34e92b5104</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>085d108b-2ed1-4161-83c5-ff8b3a6ddbd3</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>17bac1ba-ba09-4d64-8ded-1f8fec196bd4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ec57691-bf8c-4586-b03f-2833119a07de</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>