<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a2ef5f1-573c-46c8-90eb-d2f78face743" Alias="publication" Level="2">
  <Info>
    <Name>Resource</Name>
    <Icon>icon-cloud-upload color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج إدارة الاصدارات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Resources</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b4cb3a5d-d712-4cb1-9d95-5fc1c994f1ee</Key>
      <Name>Attachment</Name>
      <Alias>attachment</Alias>
      <Definition>0c065f9e-2fc7-4216-84b6-b389d2b6ce0b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الإصدار]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4bb3d96a-dafb-43c5-b35a-5c40b4682da9</Key>
      <Name>Publication Month</Name>
      <Alias>publicationMonth</Alias>
      <Definition>3e5c6bc0-7573-465a-8666-b2a862e4de79</Definition>
      <Type>CustomDropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[شهر الاصدار]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f55c072d-0640-40b2-9325-cbb97048501b</Key>
      <Name>Publication Year</Name>
      <Alias>publicationYear</Alias>
      <Definition>dbf76420-f71f-468b-9cd3-070bf52080cc</Definition>
      <Type>CustomDropDown</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[سنة الإصدار]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8dfce46a-2a5f-4937-b432-73508b02f54a</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>988b27cb-0ed6-4b1f-9fac-9fe66aa19937</Key>
      <Name>Show In HomePage</Name>
      <Alias>showPublicationInHomePage</Alias>
      <Definition>dc2b478a-4fd7-48ac-99da-8231880540a8</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[يظهر في الصفحة الرئيسية]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7322c15b-2ded-4df7-bfba-88c1788704a3</Key>
      <Name>Name</Name>
      <Alias>title</Alias>
      <Definition>26554c10-ce8d-48fd-afde-5e27a5fe99a6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[اسم الإصدار]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0864a259-efb8-44d6-8112-20812cb104e5</Key>
      <Name>Type</Name>
      <Alias>type</Alias>
      <Definition>f4e57dc5-adb4-4098-8633-d4ff0948c108</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d55973e1-11b8-4ff3-9000-e308ac747f02</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>