<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81559e72-9e32-4419-abac-42b0e8686d98" Alias="relatedPartiesItem" Level="2">
  <Info>
    <Name>Related Parties Item</Name>
    <Icon>icon-utilities color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>جهة ذات صلة</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Related+Parties</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d1f8c029-f87a-4bae-b6a8-6bf4e6a4ad61</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>fc265352-e6e3-4aa1-b34a-8b30e15c2cdc</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[شعار الجهة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03140c2f-17a0-475c-a55b-23d29f1edc33</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>0513a07f-80f8-4d03-979b-3bb95359c3c4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>194981e8-33da-4d17-8d34-d36a9549a451</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>e1815207-898d-46f1-a31f-168a8e2c0f2a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[اسم الجهة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2787d1a1-fc07-46fd-8bd3-bba0cf282e10</Key>
      <Name>Website link</Name>
      <Alias>websiteLink</Alias>
      <Definition>c93a8e2b-e1cd-414e-a857-b9ad4e640a55</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[رابط الموقع الإلكتروني للجهة]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b08744cb-9398-4bdf-8f5f-68ee9f917a9b</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>