<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9600ea62-2ea7-4edc-8fd7-74ad6de34710" Alias="resourcesTypes" Level="3">
  <Info>
    <Name>Resources Types</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Resources+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7ff7c11a-1ce1-46ab-97ac-5e345a307a73" SortOrder="0">resourcesType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>