<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="607d4913-ecd3-486c-8752-955d3b869c95" Alias="sector" Level="2">
  <Info>
    <Name>Sector</Name>
    <Icon>icon-bills color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج إدارة القطاعات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sectors</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate>MainPreview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a886c17f-95c3-4d7e-81c9-f4133eb11822">MainPreview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d92d15b1-c05b-4560-92c1-a1d881ff6807</Key>
      <Name>Description</Name>
      <Alias>advantagesDescription</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sectorAdvantages/">المزايا والمقومات التنافسية</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89bfe21a-a5c5-40af-af55-396a95942935</Key>
      <Name>Image 1</Name>
      <Alias>advantagesImage1</Alias>
      <Definition>7e0a558b-2218-4fb8-a803-f440a58d3923</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sectorAdvantages/">المزايا والمقومات التنافسية</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90eaab9e-7167-4f64-97bb-6a5f33e50c20</Key>
      <Name>Image 2</Name>
      <Alias>advantagesImage2</Alias>
      <Definition>86dc5c03-932a-4660-b1b4-88e4977a921a</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sectorAdvantages/">المزايا والمقومات التنافسية</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fc263ff-3403-41b6-a30a-9bdca55d8c8f</Key>
      <Name>Title</Name>
      <Alias>advantagesTitle</Alias>
      <Definition>f07cff0f-b389-4d51-823e-c433df7b8c47</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sectorAdvantages/">المزايا والمقومات التنافسية</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c43a76d-dffd-478b-8398-d599612a123a</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وصف القطاع]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7edb1f5a-90aa-45d4-92bd-cd2efa6abe0c</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>23a8518b-e50a-46ef-bbad-456192486141</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[رمز القطاع]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>444a6338-69be-4961-9645-4a71c99a1fb4</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>2c1db83f-59a4-44dd-a5ca-4039579c26de</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[صورة القطاع]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17ef16cc-8b5a-43eb-9124-9f3dcfc472a7</Key>
      <Name>Description</Name>
      <Alias>investmentDescription</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="investmentIncentives/">حوافز الاستثمار في القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6892e9c2-65f4-4930-9657-2eb802a339e8</Key>
      <Name>Image 1</Name>
      <Alias>investmentImage1</Alias>
      <Definition>7e0a558b-2218-4fb8-a803-f440a58d3923</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="investmentIncentives/">حوافز الاستثمار في القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96b6bb8b-80cd-4ce6-9df8-0b9776b314ae</Key>
      <Name>Image 2</Name>
      <Alias>investmentImage2</Alias>
      <Definition>86dc5c03-932a-4660-b1b4-88e4977a921a</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="investmentIncentives/">حوافز الاستثمار في القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd51d5f3-522c-48ca-9f09-babccac9017b</Key>
      <Name>Title</Name>
      <Alias>investmentTitle</Alias>
      <Definition>f07cff0f-b389-4d51-823e-c433df7b8c47</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="investmentIncentives/">حوافز الاستثمار في القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d930d5a-d739-443b-b199-5aba29946fae</Key>
      <Name>Description</Name>
      <Alias>kPIDescription</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sectorKPIs1/">مؤشرات الأداء الرئيسية لعام</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a93eae9-7166-498e-a48b-bee8270cdc53</Key>
      <Name>Image 1</Name>
      <Alias>kPIImage1</Alias>
      <Definition>7e0a558b-2218-4fb8-a803-f440a58d3923</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sectorKPIs1/">مؤشرات الأداء الرئيسية لعام</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6fad70a6-2523-4ba4-8947-741eff5a0683</Key>
      <Name>Image 2</Name>
      <Alias>kPIImage2</Alias>
      <Definition>86dc5c03-932a-4660-b1b4-88e4977a921a</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sectorKPIs1/">مؤشرات الأداء الرئيسية لعام</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>510e92be-d01f-4c35-98fe-17db22507b86</Key>
      <Name>Title</Name>
      <Alias>kPITitle</Alias>
      <Definition>f07cff0f-b389-4d51-823e-c433df7b8c47</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sectorKPIs1/">مؤشرات الأداء الرئيسية لعام</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed85bf95-ce94-4049-b60a-51d84c39fea6</Key>
      <Name>Description</Name>
      <Alias>measuresDescription</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sectorMeasures/">الإجراءات الحكومية لدعم القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08909bfa-2a3f-4465-8386-39611b79de63</Key>
      <Name>Image 1</Name>
      <Alias>measuresImage1</Alias>
      <Definition>7e0a558b-2218-4fb8-a803-f440a58d3923</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sectorMeasures/">الإجراءات الحكومية لدعم القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02d271e9-530f-4ab7-84d9-dfcd59991262</Key>
      <Name>Image 2</Name>
      <Alias>measuresImage2</Alias>
      <Definition>86dc5c03-932a-4660-b1b4-88e4977a921a</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sectorMeasures/">الإجراءات الحكومية لدعم القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>047738af-7036-4ab3-92ea-2c841a67ff95</Key>
      <Name>Title</Name>
      <Alias>measuresTitle</Alias>
      <Definition>f07cff0f-b389-4d51-823e-c433df7b8c47</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sectorMeasures/">الإجراءات الحكومية لدعم القطاع</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40ae054f-c3e9-463a-aae1-39e1e8928c02</Key>
      <Name>Overview</Name>
      <Alias>overview</Alias>
      <Definition>d0cba283-a474-4030-9b7f-da2b0e47505f</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نبذة عن القطاع]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a8def9e-fe4a-4c6f-9bfd-4da647bd8fe9</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db673698-33fa-4f69-8b8e-110d8686503d</Key>
      <Name>Sector KPIs</Name>
      <Alias>sectorKPIs</Alias>
      <Definition>341352ad-4477-4746-97d0-fa9aa4710ca3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الإحصائيات والمؤشرات]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sectorKPIs1/">مؤشرات الأداء الرئيسية لعام</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b653475-73fa-4683-acf2-37a715cea41f</Key>
      <Name>SectorSlogan</Name>
      <Alias>sectorSlogan</Alias>
      <Definition>7147d3a1-8435-430e-913a-6b34df6f8491</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الشعار]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a5b1ab3-9108-4e62-988d-3479824a7c47</Key>
      <Name>Tags</Name>
      <Alias>sectorTags</Alias>
      <Definition>e09fd78e-8d2d-4248-957e-d135224c1eea</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[كلمات دالة]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>14985cc1-5b07-4c94-8947-58f8c9b6c9d9</Key>
      <Name>Show In HomePage</Name>
      <Alias>showHide</Alias>
      <Definition>79bee730-fa41-46f1-b46a-cab8a7d86478</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[اظهار القطاع في الصفحة الرئيسية]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37bb3c1a-c7f0-4ccb-a0d5-26505ec80b16</Key>
      <Name>Sub-Sector</Name>
      <Alias>subSector</Alias>
      <Definition>aa04ba6d-f460-4b2f-ad13-55cb9be52590</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[فئة القطاع]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93d54173-2112-4efc-8f49-583c1b110717</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>ff153129-bdc0-44fd-b9ed-26d32b029b31</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[اسم القطاع]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1040865d-3647-4003-9bbe-7a0e063c261b</Key>
      <Caption>Sector Advantages</Caption>
      <Alias>sectorAdvantages</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>22ef6d61-6efe-4492-a819-e546c1d280cb</Key>
      <Caption>Sector KPIs</Caption>
      <Alias>sectorKPIs1</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>25655251-47f4-4c29-9733-b05e4e7952dc</Key>
      <Caption>Investment Incentives</Caption>
      <Alias>investmentIncentives</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>4c229b3c-a718-486d-8f57-5a52e3c8fc7b</Key>
      <Caption>الإجراءات الحكومية لدعم القطاع</Caption>
      <Alias>sectorMeasures/</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6bb12833-1e93-4368-bbae-4282a84d255e</Key>
      <Caption>Sector Measures</Caption>
      <Alias>sectorMeasures</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>831581ee-4227-4123-bf3a-88adaaefd6d9</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8a26ebf9-7681-41ee-b7d4-a4ebf311f296</Key>
      <Caption>حوافز الاستثمار في القطاع</Caption>
      <Alias>investmentIncentives/</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8fa96c91-220f-4faa-802f-a5e8f585e193</Key>
      <Caption>المزايا والمقومات التنافسية</Caption>
      <Alias>sectorAdvantages/</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fb8f703c-4295-43b4-a4f0-9d8b251de90c</Key>
      <Caption>مؤشرات الأداء الرئيسية لعام</Caption>
      <Alias>sectorKPIs1/</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>