<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d140b228-4fcf-4466-b0d4-7b28c4fe82e2" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>System+Configurations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="87b3402d-9dab-4d7a-8c3b-0e88b0dfcc0f" SortOrder="0">settingItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c5d28103-5893-4d61-8860-3ba7c17ffdf2</Key>
      <Name>BaseURL</Name>
      <Alias>baseURL</Alias>
      <Definition>a87f1548-d9eb-4300-8adb-73865a492993</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e90fb22-787e-43cf-bbb0-3735333e34ca</Key>
      <Name>DefaultLanguage</Name>
      <Alias>defaultLanguage</Alias>
      <Definition>60a8dd1d-c7f8-4322-8615-d4d36bcdfe87</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b324669-60ba-4f97-b935-a5ad87101650</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>5f6241d6-83ea-48df-86cf-143eee3554b6</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c0425331-0162-4984-b9de-342adfd2f2a7</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>