<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0327af40-fc5a-46a4-a3e5-0d211238f898" Alias="sharedKpi" Level="2">
  <Info>
    <Name>Shared Kpi</Name>
    <Icon>icon-bars color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>نموذج مشترك الإحصائيات والمؤشرات</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Common</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6600b4e6-8c25-4fac-a78e-e8d929aba8b1</Key>
      <Name>Brief</Name>
      <Alias>brief</Alias>
      <Definition>68bcbcee-7ffb-4898-93d7-493ccf95b918</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان المؤشر]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>485632ad-1db7-479b-97d9-fcb3d2767f23</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>6ff452a0-4ed6-4d1b-9773-d469bfd50d00</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وصف المؤشر]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2366cf3-04ef-4f38-8924-67cbb62fd151</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>