<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d04e9485-ec7f-4469-84c9-bfa4ab215a87" Alias="simpleTemplate" Level="3">
  <Info>
    <Name>Simple Template With Related Media</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Templates/Old+Templates</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>05a882c2-e8bc-440d-8c4e-f83d8713d54e</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>177f3f7c-d442-45a2-b6be-44540e8b0a18</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة الخلفية في الصفحة]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7bcbafa8-5c16-4ad8-a1a1-9dbef8ba77c7</Key>
      <Name>Breadcrumb Parent</Name>
      <Alias>breadcrumbParent</Alias>
      <Definition>f94faae2-0451-4a4e-9266-59a1118f2de6</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a custom parent page for breadcrumb navigation. Leave empty to use the actual content tree parent]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05031ca7-7197-4487-be43-b0e58ca030dc</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تفاصيل الصفحة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecf222c5-a7b5-4c4b-802b-5090630cae8c</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>85919edb-aa40-41e2-8391-6759c55785af</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[صورة]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81e6640d-9058-4e11-b2d1-2e50c35b17fb</Key>
      <Name>Image Style</Name>
      <Alias>imageStyle</Alias>
      <Definition>33cbfd5a-9041-4cf5-a847-eec8aac8c954</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[وضع الصورة في الصفحة]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef9d98d8-ec7b-4e0a-821f-8c0984f84796</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f632606-d446-4c3e-8541-2af4c2b8cc5a</Key>
      <Name>Related Media Items</Name>
      <Alias>relatedMediaItems</Alias>
      <Definition>9da4eed7-0f0d-4686-b0b5-807e55d0238c</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relatedMedia">Related Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b670b77-f003-47d5-81e7-936bf7038165</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>a2039153-0056-4416-83e2-96e3e24048be</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>326b3807-59b4-4d9b-9b88-af8589f2a8d7</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bc3b960d-4a5a-49f5-bec3-7df1de22499f</Key>
      <Caption>Related Media</Caption>
      <Alias>relatedMedia</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>