<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a43faa59-f302-404e-863d-ac3d66ec8928" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-umb-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="631f730c-a1d5-4125-b536-c98dad2ae5b1" SortOrder="0">socialMediaLinks</ContentType>
    <ContentType Key="ca1f2778-b83f-4d4b-8aa0-b2db3ef7fd83" SortOrder="1">cRMSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c4b03b71-96e5-41d3-bbf9-4dfa797187ae</Key>
      <Name>Footer</Name>
      <Alias>footer</Alias>
      <Definition>2a6d32fb-cdb7-489e-b795-b7f5ea5599b6</Definition>
      <Type>SimpleTreeMenu</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mainNavigationMenu">Main Navigation Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd808c23-2104-4995-bb10-324ada25a308</Key>
      <Name>Menu</Name>
      <Alias>menu</Alias>
      <Definition>78832aaf-0bdc-40db-a05d-c12add069b5c</Definition>
      <Type>SimpleTreeMenu</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(It preferred to add 3 main items with Area 'A' Section)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainNavigationMenu">Main Navigation Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d1c3b89-c791-449e-b33f-53b59b4d7b4b</Key>
      <Name>Please note that, the content of menu should be saved  before switching to another language.</Name>
      <Alias>note</Alias>
      <Definition>5807efdf-9988-49d9-8a0c-7943f3e1610e</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainNavigationMenu">Main Navigation Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39c9f3a3-062d-476e-b88c-6defc0abd355</Key>
      <Caption>Main Navigation Menu</Caption>
      <Alias>mainNavigationMenu</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>