<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="631f730c-a1d5-4125-b536-c98dad2ae5b1" Alias="socialMediaLinks" Level="3">
  <Info>
    <Name>Social Media Links</Name>
    <Icon>icon-facebook-like color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>مسارات وسائل التواصل الاجتماعي</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Settings/Links</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="17702cfd-d72f-4ce9-b783-bb342bbcfc9c" SortOrder="0">socialMediaLink</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4c9266a5-8ec7-4413-bc92-e7a6f8326fb2</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0fcf24d4-6d7d-4412-8835-6af87646793b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>51d0e812-4195-4840-ad62-615c746e16a1</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>