<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17702cfd-d72f-4ce9-b783-bb342bbcfc9c" Alias="socialMediaLink" Level="3">
  <Info>
    <Name>Social Media Link</Name>
    <Icon>icon-facebook-like color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Settings/Links</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5f2af528-c643-415a-b02a-ad00ebf1220c</Key>
      <Name>External URL</Name>
      <Alias>externalUrl</Alias>
      <Definition>eb40540b-5a33-4551-a23b-945e1470eeb0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[رابط الصفحة]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88936bff-2f57-4865-b2b3-e3788a40a293</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>0513a07f-80f8-4d03-979b-3bb95359c3c4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a58284f-7558-4ca6-8565-3875ffda89cf</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>c8ac0995-15c1-4467-8247-e980efa54fc2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^(?!\s|\n|\r).{1,50}(?&lt;!\s|\n|\r)$</Validation>
      <Description><![CDATA[عنوان الرابط]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Title must not exceed 50 characters and should not start or end with space.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b044d5e-7107-4d83-99b7-aaf01a8b8a51</Key>
      <Name>Social media type</Name>
      <Alias>type</Alias>
      <Definition>77a9f2d5-ae85-434e-9b3f-69f7ba7e7cd5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[نوع صفحة التواصل الاجتماعي]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>83da6483-13b5-45e1-9292-60f8939c435c</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>