<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e3df1df-6869-4e7e-9de3-4b2411fa3a11" Alias="subSectors" Level="2">
  <Info>
    <Name>Sub Sectors</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sub-Sectors</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7058f280-49d2-4004-8cba-11ea0b7f0edb" SortOrder="0">subSector</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>