<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2f3aa94-68f7-4a52-8a8d-28a76ed5bbfe" Alias="successStoriesSector" Level="3">
  <Info>
    <Name>Success Stories Sector</Name>
    <Icon>icon-coins-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Success+Stories+Sectors</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4cf25698-6093-4763-88f5-402e245fdf3e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>9602639c-c41c-4a18-a7aa-0a5ddc86cf8d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce791044-62a8-4cdc-a1c4-990fb45a8083</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>