<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e623209-cd45-4134-85b1-0824333c537f" Alias="successStoriesCategories" Level="3">
  <Info>
    <Name>Success Stories Categories</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Success+Stories+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="22f69fbf-da80-476d-a3d6-39ac992713fb" SortOrder="0">successStoryCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>