<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17e446dd-b6bf-4016-b0f6-3861312a2f28" Alias="template3" Level="3">
  <Info>
    <Name>WhoWeAre Template</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Templates/Old+Templates</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>50856110-d022-4683-b3eb-d86068446958</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>177f3f7c-d442-45a2-b6be-44540e8b0a18</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة الخلفية في الصفحة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7f44ceb-c61a-4a74-9d7e-011e44eda1b0</Key>
      <Name>Breadcrumb Parent</Name>
      <Alias>breadcrumbParent</Alias>
      <Definition>f94faae2-0451-4a4e-9266-59a1118f2de6</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a custom parent page for breadcrumb navigation. Leave empty to use the actual content tree parent]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1099ba0-fa88-411b-ae94-215ba5c3cac3</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageDetails/section">Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18c37806-d217-4af4-ac73-b2d7e8f0a575</Key>
      <Name>Description 1</Name>
      <Alias>description1</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageDetails/firstSection1">First Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description 1</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a5753804-ef4a-49a0-bfa4-d1e9b757f774</Key>
      <Name>Description 2</Name>
      <Alias>description2</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageDetails/secondSection1">Second Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd29f262-8931-4386-9303-4b9bac416226</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>6ef95d71-e197-40e7-8a99-0879e686614b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pageDetails/section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8fea93e-e604-4935-afc9-69ba19a4bc2a</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19f9f98d-f3a9-4863-9f74-7e6fcf6636f3</Key>
      <Name>Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>a2039153-0056-4416-83e2-96e3e24048be</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageDetails/section">Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>84e969d1-6443-4154-8aa1-d4ba3016f176</Key>
      <Name>Target URL</Name>
      <Alias>targetURL</Alias>
      <Definition>4691ad97-995c-419f-829e-ff39e264e5fa</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pageDetails/section">Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3bf93daf-e248-4088-b52f-13b148932db7</Key>
      <Name>Page Title</Name>
      <Alias>title</Alias>
      <Definition>a2039153-0056-4416-83e2-96e3e24048be</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db87b184-289a-4643-8bf2-1f3e0bc71e01</Key>
      <Name>Title 1</Name>
      <Alias>title1</Alias>
      <Definition>a2039153-0056-4416-83e2-96e3e24048be</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageDetails/firstSection1">First Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>04068657-43cd-4d71-946a-056ad80285cb</Key>
      <Caption>Section</Caption>
      <Alias>pageDetails/section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>76f18318-abea-4fbe-bf95-65f880a1e5aa</Key>
      <Caption>Second Section</Caption>
      <Alias>pageDetails/secondSection1</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>a26e0a68-823f-4773-93b8-5bc699b34ee3</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c90d224a-0a72-429c-9189-9e89edd4b5bc</Key>
      <Caption>Page Details</Caption>
      <Alias>pageDetails</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>cee91a4d-343f-442f-b6b5-5bedee84307b</Key>
      <Caption>First Section</Caption>
      <Alias>pageDetails/firstSection1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>