<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29b521e8-c87f-4c72-bd0b-b0f7407bca77" Alias="testmonialsCategories" Level="3">
  <Info>
    <Name>Testmonials Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Testmonials+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3cc3b42e-762d-4def-b212-c5f549561014" SortOrder="0">testmonialCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>