<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c12d0d6d-3359-48b9-b253-02413369dd64" Alias="videoMediaFile" Level="3">
  <Info>
    <Name>Video Media File</Name>
    <Icon>icon-video color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Media/Media+File+Types</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
      <Composition Key="b6aa9a93-dd77-4497-bfa1-ff881bc90fc8">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2534fb0-08f8-4703-a3b9-e6096a95d7ce</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>325c9051-ae3f-4021-8377-cad54cd4b3a0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47529db8-0fa2-47db-b5cd-da9cd4c33e9f</Key>
      <Name>File</Name>
      <Alias>file</Alias>
      <Definition>70575fe7-9812-4396-bbe1-c81a76db71b5</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a263dad6-9db2-40a6-b615-c3239111389d</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>e15594b0-2471-43e2-9ef4-1df241a5a0b1</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34c10bb9-6127-4e2b-be9e-6d224ab6bf4b</Key>
      <Name>Youtube URL</Name>
      <Alias>youtubeURL</Alias>
      <Definition>82a532b8-6a50-4304-9f03-d8077db28692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA["https://www.youtube.com/watch?v=8rHnbviynIM", 
"https://youtu.be/8rHnbviynIM", or
"https://www.youtube.com/embed/8rHnbviynIM"]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27572bd8-a4d7-4c52-a191-11148040faac</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>