<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="129d3bf2-c28a-4708-915d-730c9cd2317c" Alias="videoAlbumCategories" Level="3">
  <Info>
    <Name>Video Album Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>فئات ألبومات الفيديو</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Lookups/Media+Albums+Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4466ff08-292f-42d6-8e72-7bba2a10b584" SortOrder="0">videoAlbumCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>