<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f5036d1-4ced-4a47-bf64-9759be6d5dfe" Alias="whoWeAre" Level="2">
  <Info>
    <Name>WhoWeAre</Name>
    <Icon>icon-message-unopened color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>من نحن</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Who+We+Are</Folder>
    <Compositions>
      <Composition Key="c0858ccf-7310-45ca-a53c-cd2ea6925ac9">metaData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d51afd54-c4f7-4e26-a90d-28d2a904f725</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>a378708b-933c-430f-9bd5-21987fa4e70b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة الخلفية في الصفحة]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9048ae67-1997-4adc-a63b-90ebadbb17cb</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الوصف]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageDetails1/4">نبذة</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a8d7211-1b16-4965-b925-d23d0277146c</Key>
      <Name>Description 1</Name>
      <Alias>description1</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الوصف]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageDetails1/1">الرؤية والرسالة</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description 1</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70cc8e06-af8c-42e6-a33a-dcafa9256a07</Key>
      <Name>Description 2</Name>
      <Alias>description2</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الوصف]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageDetails1/2">الدور</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description 2</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2aac3d71-62f8-49ea-b016-de5983f58d8d</Key>
      <Name>Description 3</Name>
      <Alias>description3</Alias>
      <Definition>8c36905b-7e39-4726-96d4-9ada0fe05739</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الوصف]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageDetails1/3">الاستراتيجية</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Please enter text for Description 3</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>805bf60e-6594-4b20-9d7d-177dbc580f99</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>6ef95d71-e197-40e7-8a99-0879e686614b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[الصورة]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageDetails1/4">نبذة</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd5eb2c9-cb27-4a26-ac63-ee63c56b7b12</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>12a3a248-e9b2-475b-8e41-787928884380</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[تاريخ النشر]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7af5382-9fd4-4f97-a885-487681e029f0</Key>
      <Name>Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>f9092f81-29bc-469e-919e-8a4e624574ab</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageDetails1/4">نبذة</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8da0f962-d515-4408-aa41-eb18fa79fa31</Key>
      <Name>Target URL</Name>
      <Alias>targetURL</Alias>
      <Definition>4691ad97-995c-419f-829e-ff39e264e5fa</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[رابط الموقع الإلكتروني]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageDetails1/4">نبذة</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f7a1774-a37a-4fbd-b458-c2f7285fe087</Key>
      <Name>Page Title</Name>
      <Alias>title</Alias>
      <Definition>f9092f81-29bc-469e-919e-8a4e624574ab</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[عنوان الصفحة]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9a0d0bb-9725-4a62-b7c8-2c3ff4f2b7b7</Key>
      <Name>Title 1</Name>
      <Alias>title1</Alias>
      <Definition>f9092f81-29bc-469e-919e-8a4e624574ab</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageDetails1/1">الرؤية والرسالة</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6f4facb-18e1-4166-8e8c-c0a72b78c7c0</Key>
      <Name>Title 2</Name>
      <Alias>title2</Alias>
      <Definition>f9092f81-29bc-469e-919e-8a4e624574ab</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageDetails1/2">الدور</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>945f2f94-21f8-4ef5-9e44-2fa52c06c6f6</Key>
      <Name>Title 3</Name>
      <Alias>title3</Alias>
      <Definition>f9092f81-29bc-469e-919e-8a4e624574ab</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[العنوان]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageDetails1/3">الاستراتيجية</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5a1ff457-90e4-4449-862a-f9ff0132cd64</Key>
      <Caption>الرؤية والرسالة</Caption>
      <Alias>pageDetails1/1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>79d9140b-6f92-4833-9dde-f18a5e1ee4c5</Key>
      <Caption>Page Details</Caption>
      <Alias>pageDetails1</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>860cedaa-306a-485c-a45f-4b8b43de9e38</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dcb10cf2-22bd-49d4-bd85-5d7c36078709</Key>
      <Caption>الدور</Caption>
      <Alias>pageDetails1/2</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>f3606812-e2ea-4a94-8a1a-46ad2742b514</Key>
      <Caption>نبذة</Caption>
      <Alias>pageDetails1/4</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fa087838-4623-4b3d-bf36-29db6c0bac5d</Key>
      <Caption>الاستراتيجية</Caption>
      <Alias>pageDetails1/3</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>