<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="18393e42-0d64-48d5-919c-dd91d350f722" Alias="BackToHome" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">الرجوع إلي الصفحة الرئيسية</Translation>
    <Translation Language="en-US">Back to Homepage</Translation>
  </Translations>
</Dictionary>