<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="381d2e95-38e1-462e-a16c-a57e06a7c3a9" Alias="ConsultOurFaq" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">الأسئلة الشائعة</Translation>
    <Translation Language="en-US">Consult our faq</Translation>
  </Translations>
</Dictionary>