<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b53f1ff-3605-427e-b609-f5d5da8a0e25" Alias="GeneralErrorPageLbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">...حدث خطأ ما</Translation>
    <Translation Language="en-US">Something went wrong...</Translation>
  </Translations>
</Dictionary>