<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac18b228-473f-4070-8c2d-38f2ffecc754" Alias="GeneralErrorPageDsc" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">عذراً هناك خطأ في الصفحة المطلوبة لا يمكننا الوصول إليها</Translation>
    <Translation Language="en-US">Sorry, it looks like you got lost. The requested page could not be found.</Translation>
  </Translations>
</Dictionary>