<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b20b256-8435-4eed-b729-905b50f8fede" Alias="PageNotFound" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">عذرًا، الصفحة التي تبحث عنها غير موجودة.</Translation>
    <Translation Language="en-US">Sorry the page you are looking for does not exist.</Translation>
  </Translations>
</Dictionary>