<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e3caa89-72d4-4c7e-9e51-549b6308d411" Alias="Album Item - Publish Date - Label" Level="1">
  <Info>
    <Name>Album Item - Publish Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>