<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ce23020-3445-46d5-aae2-c13ad48c0240" Alias="Announcement - Button Label - Textbox" Level="1">
  <Info>
    <Name>Announcement - Button Label - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 15
}]]></Config>
</DataType>