<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e15f7e6-0aee-486b-a7dd-ed91f1485ef4" Alias="Announcement - Sub title 2 - Textbox" Level="1">
  <Info>
    <Name>Announcement - Sub title 2 - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>