<?xml version="1.0" encoding="utf-8"?>
<DataType Key="767094f2-5d64-42e9-8c59-ec87e4f164c1" Alias="Announcement  - Image - Image Cropper" Level="1">
  <Info>
    <Name>Announcement  - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 713,
      "width": 1440
    },
    {
      "alias": "Home_Tablet",
      "height": 561,
      "width": 1280
    },
    {
      "alias": "Home_Responsive",
      "height": 800,
      "width": 432
    },
    {
      "alias": "Details_Desktop",
      "height": 512,
      "width": 1277
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    }
  ]
}]]></Config>
</DataType>