<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e25ea373-2625-4f9a-9572-0ac3d60205bc" Alias="Announcement - Video - File upload" Level="1">
  <Info>
    <Name>Announcement - Video - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "mp4"
    }
  ]
}]]></Config>
</DataType>