<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c5137f2-2df5-4215-99bc-eee2ff95c9e7" Alias="Announcement - Title - Textbox" Level="1">
  <Info>
    <Name>Announcement - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>