<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb21fe2a-ef67-45dc-b46a-4f608067834d" Alias="Auction - Images - Media Picker" Level="1">
  <Info>
    <Name>Auction - Images - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "detailsPage",
      "height": 299,
      "label": "Details Page",
      "width": 1067
    },
    {
      "alias": "detailsPage_Responsive",
      "height": 229,
      "label": "Details Page Responsive",
      "width": 290
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/ddcf0219c7664493ba8118d7c05fe3a6",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>