<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a3e4ea8-41ed-489d-9b4d-5a60e071018c" Alias="Auction - Title - Textbox" Level="1">
  <Info>
    <Name>Auction - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>