<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f8e5fc2-dc60-4971-a8d2-cbb35441ee00" Alias="Auction - Start Time" Level="1">
  <Info>
    <Name>Auction - Start Time</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "hh:mm A",
  "OffsetTime": false
}]]></Config>
</DataType>