<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2d8884b-17b1-40c4-a266-06ebd5b7e684" Alias="Auction - Brief - Textbox" Level="1">
  <Info>
    <Name>Auction - Brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>