<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c9fbc5a-22ca-476a-9e99-aaf074413166" Alias="Auction - Location - Multinode Treepicker" Level="1">
  <Info>
    <Name>Auction - Location - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "court",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/2d25aebce64f4414a4bdad958931f760",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>