<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cf7586c-61f9-4607-8bb2-e4496688432f" Alias="Auctions - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Auctions - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 120,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>