<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f78c0ea-620a-4efe-8fb7-5f84f188ba0a" Alias="Auction Category - Category - Textbox" Level="1">
  <Info>
    <Name>Auction Category - Category - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>