<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58ae0af3-0b84-4340-8c2c-67585b666600" Alias="Auction - Auction Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Auction - Auction Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "auctionCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/d5d072fc784746ad84f58946b0e82751",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>