<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9c99ccc-caad-4c29-bc47-816bdc6774a3" Alias="Auction - Attachment - File upload" Level="1">
  <Info>
    <Name>Auction - Attachment - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "PDF"
    }
  ]
}]]></Config>
</DataType>