<?xml version="1.0" encoding="utf-8"?>
<DataType Key="094e4120-b47f-4b1c-814d-48f3d3ec5052" Alias="Auction Photo - Auction Image - Image Cropper" Level="1">
  <Info>
    <Name>Auction Photo - Auction Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 500,
      "width": 500
    }
  ]
}]]></Config>
</DataType>