<?xml version="1.0" encoding="utf-8"?>
<DataType Key="119a71a4-cea1-4ae0-8294-2a187ae11c07" Alias="Audio Media File - Description - Textbox" Level="1">
  <Info>
    <Name>Audio Media File - Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>