<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f44b2779-1e4d-4ee3-a9c7-668d8b4cfa1e" Alias="Booklet - Thumb Image - Image Cropper" Level="1">
  <Info>
    <Name>Booklet - Thumb Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home",
      "height": 343,
      "width": 278
    },
    {
      "alias": "Details",
      "height": 299,
      "width": 1067
    },
    {
      "alias": "Listing",
      "height": 244,
      "width": 198
    },
    {
      "alias": "Search",
      "height": 100,
      "width": 106
    }
  ]
}]]></Config>
</DataType>