<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9856946-c6ca-4129-b290-7045a01acbf2" Alias="Booklets Language - Language Name - Textbox" Level="1">
  <Info>
    <Name>Booklets Language - Language Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>