<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f7cb027-2d4c-47b4-98ab-d5f4f0ca3865" Alias="Booklet Version - Booklet Version Year - Numeric" Level="1">
  <Info>
    <Name>Booklet Version - Booklet Version Year - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>