<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98f7275c-2937-49d6-a293-d999159c0585" Alias="Booklets - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Booklets - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>