<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a39451bf-c31c-4011-8765-d9a6628d4235" Alias="Booklet - Languages Filtered - Hidden Field" Level="1">
  <Info>
    <Name>Booklet - Languages Filtered - Hidden Field</Name>
    <EditorAlias>hiddenField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>