<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b309b003-0552-4fe6-b500-f82cdac6cae7" Alias="Booklet - Languages Filtered - Label" Level="1">
  <Info>
    <Name>Booklet - Languages Filtered - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "TEXT"
}]]></Config>
</DataType>