<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58d649f3-003c-4014-9134-cca8ff4ea5aa" Alias="Booklets - Section Title - Textbox" Level="1">
  <Info>
    <Name>Booklets - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 37
}]]></Config>
</DataType>