<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3adca8b-14bd-420d-b35e-936147b0e9ba" Alias="Booklet Flip - Booklet URL - Textbox" Level="1">
  <Info>
    <Name>Booklet Flip - Booklet URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>