<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abb9e620-531e-47d2-8794-220aaaf1d6a1" Alias="Booklet Flip Folder - Title - Textbox" Level="1">
  <Info>
    <Name>Booklet Flip Folder - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>