<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb317018-bb67-4a61-86c3-6b297226977f" Alias="Booklet Flip - Title - Textbox" Level="1">
  <Info>
    <Name>Booklet Flip - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>