<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e8e8c44-9cc3-4d76-8564-a9e13a6d3185" Alias="Booklet Flip Folder - Block List" Level="1">
  <Info>
    <Name>Booklet Flip Folder - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "66967497-c4c8-4211-ad67-77a8719d1c48",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Booklet Flip Folder - {{bookletLanguage | ncNodeName}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>