<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56382dae-d347-4fb3-b813-76c6d98b7538" Alias="Booklet Flip Folder - Flip URL - Label" Level="1">
  <Info>
    <Name>Booklet Flip Folder - Flip URL - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>