<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1a1879c-bba7-4f55-9dd3-1580b415b920" Alias="Booklet - Publish Date - Label" Level="1">
  <Info>
    <Name>Booklet - Publish Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>