<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26a4cad7-a8c7-44d4-a872-c7f4a8e418e8" Alias="Booklet Flip Folder - PDF URL - Label" Level="1">
  <Info>
    <Name>Booklet Flip Folder - PDF URL - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>