<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb1043d6-5c38-462c-9c5e-76317f7990e2" Alias="Booklet - Version Years Filtered - Label" Level="1">
  <Info>
    <Name>Booklet - Version Years Filtered - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "TEXT"
}]]></Config>
</DataType>