<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81478507-66af-4a55-aeed-1b1b9561bc5d" Alias="Booklet Category - CategoryName - Textbox" Level="1">
  <Info>
    <Name>Booklet Category - CategoryName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>