<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5d1eba7-9386-4e0e-accd-0dff2b3d40c7" Alias="Booklet Flip - Version Year - Numeric" Level="1">
  <Info>
    <Name>Booklet Flip - Version Year - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>