<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a799549-e342-4160-a797-1d7a5fa0cae0" Alias="Booklet Flip - Flip URL - Textbox" Level="1">
  <Info>
    <Name>Booklet Flip - Flip URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>