<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6adb544f-c16d-4178-a566-8ffe801b8599" Alias="Booklet Flip Folder - Booklet Status - Label" Level="1">
  <Info>
    <Name>Booklet Flip Folder - Booklet Status - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>