<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbc723b4-691a-4b3b-aa3e-9165120c2ae6" Alias="Booklet - Booklet Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Booklet - Booklet Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "bookletCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/e399960a7dd743e5be7b4f5ba302739c",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>