<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94f8b571-5a84-45c0-91c6-d4e887b8c61a" Alias="Booklet Flip Folder - Title - Textbox (1)" Level="1">
  <Info>
    <Name>Booklet Flip Folder - Title - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>