<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27574b9e-a796-4cb2-953f-5641b627f353" Alias="Booklet Flip Folder - Booklet URL - Label" Level="1">
  <Info>
    <Name>Booklet Flip Folder - Booklet URL - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>