<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a537ab00-3c53-4471-b458-d6204d4c9831" Alias="Booklet Flip - Booklet Description - Textarea" Level="1">
  <Info>
    <Name>Booklet Flip - Booklet Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 300,
  "Rows": null
}]]></Config>
</DataType>