<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7c92844-96d5-478e-9800-067284f5dafe" Alias="Brief - Textbox" Level="1">
  <Info>
    <Name>Brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 130
}]]></Config>
</DataType>