<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac678c57-6680-4b7b-90ba-419012b5c12a" Alias="Content Template 4 - Kpis Image - Image Cropper" Level="1">
  <Info>
    <Name>Content Template 4 - Kpis Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 67,
      "width": 100
    },
    {
      "alias": "Tablet",
      "height": 67,
      "width": 100
    },
    {
      "alias": "Responsive",
      "height": 67,
      "width": 100
    }
  ]
}]]></Config>
</DataType>