<?xml version="1.0" encoding="utf-8"?>
<DataType Key="681f1d89-3dcd-4f72-9c91-e669f0515545" Alias="Contact Us - Phone Numbers - Repeatable textstrings" Level="1">
  <Info>
    <Name>Contact Us - Phone Numbers - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 3,
  "Minimum": 0
}]]></Config>
</DataType>