<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f25ffaa9-f58a-4a40-b40f-e98117ec6652" Alias="Content Template3 - Section Brief - Textarea" Level="1">
  <Info>
    <Name>Content Template3 - Section Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70,
  "Rows": 3
}]]></Config>
</DataType>