<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbb68495-0269-46b9-9a58-1bc96f9ce273" Alias="Contact Us Request - Creation Date - Label" Level="1">
  <Info>
    <Name>Contact Us Request - Creation Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>