<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a219edf4-2889-401f-a06f-a5bc1c3a3475" Alias="ContentTemplateDetails - SubTitle - Textbox" Level="1">
  <Info>
    <Name>ContentTemplateDetails - SubTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>