<?xml version="1.0" encoding="utf-8"?>
<DataType Key="637eee4d-e68c-4fd8-818e-672f69b7bda0" Alias="ContentTemplateDetails - Brief - Textarea" Level="1">
  <Info>
    <Name>ContentTemplateDetails - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 371,
  "Rows": null
}]]></Config>
</DataType>