<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d43cdde9-e1bc-4557-bf7f-5db106e55402" Alias="Contact Us Request - Phone Number - Label" Level="1">
  <Info>
    <Name>Contact Us Request - Phone Number - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>