<?xml version="1.0" encoding="utf-8"?>
<DataType Key="241fe7c7-0fd7-446a-bd36-f2f896264da4" Alias="Content Template 4 - Section Brief - Textarea" Level="1">
  <Info>
    <Name>Content Template 4 - Section Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70,
  "Rows": 2
}]]></Config>
</DataType>