<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1637fbfb-daaa-40a4-903a-2c4bd986a5a4" Alias="Contact Us Request - Country - Multinode Treepicker" Level="1">
  <Info>
    <Name>Contact Us Request - Country - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "country",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/countries",
    "type": "content"
  }
}]]></Config>
</DataType>