<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d6f38ba-6dd5-4cf1-8045-8d8b01571373" Alias="Content Template 4 - Profile Title - Textbox" Level="1">
  <Info>
    <Name>Content Template 4 - Profile Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>