<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e48a000f-359f-4ff8-84b7-b590768b2157" Alias="Content Template3 Section - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>Content Template3 Section - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap",
      "rtl",
      "ltr"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>