<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a3554d2-ad5a-43ad-97d0-0004ac616572" Alias="Content Template Related Content - Redirect URL - Textbox" Level="1">
  <Info>
    <Name>Content Template Related Content - Redirect URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>