<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e17f32ac-258c-4dc2-8654-4a7d4a3f8c91" Alias="Content Template 4 - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Content Template 4 - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 240,
      "width": 1440
    },
    {
      "alias": "Tablet",
      "height": 240,
      "width": 1440
    },
    {
      "alias": "Responsive",
      "height": 240,
      "width": 1440
    }
  ]
}]]></Config>
</DataType>