<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd28cb75-ad61-471c-b00e-4eb9bd0e4dc3" Alias="Content Template3 Section - Info - Textbox" Level="1">
  <Info>
    <Name>Content Template3 Section - Info - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>