<?xml version="1.0" encoding="utf-8"?>
<DataType Key="920512ae-1ca7-483a-b3db-a7f45f3f1c56" Alias="Contact Us - SubTitle - Textbox" Level="1">
  <Info>
    <Name>Contact Us - SubTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70
}]]></Config>
</DataType>