<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ab0236f-8c1c-4f68-b1e6-8f00fe84176f" Alias="Content Template3 Section - Title - Textbox" Level="1">
  <Info>
    <Name>Content Template3 Section - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>