<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52787346-684d-4c60-9953-a883729c03ba" Alias="Contact Us Request - Subject - Textbox" Level="1">
  <Info>
    <Name>Contact Us Request - Subject - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>