<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f8fb64d-d04f-4f5e-a0e8-2f5a936305ca" Alias="Content Template Related Content - Title - Textbox" Level="1">
  <Info>
    <Name>Content Template Related Content - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>