<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a755a4f4-23c7-4756-a62c-b30832fb9202" Alias="Content Template 4 - Snapshot Highlighted KPIs - Block List" Level="1">
  <Info>
    <Name>Content Template 4 - Snapshot Highlighted KPIs - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ce575926-95e0-47d0-b6d5-631f790131e0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{brief}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>