<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecff957a-9e54-47e3-9ebe-83720f8fe752" Alias="ContentTemplateDetailsPage - Related MediaTitles - Textbox" Level="1">
  <Info>
    <Name>ContentTemplateDetailsPage - Related MediaTitles - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>