<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20cbb3bb-20c4-4baf-a682-e95360ebfd52" Alias="Contact Us Request - Country - Multinode Treepicker (1)" Level="1">
  <Info>
    <Name>Contact Us Request - Country - Multinode Treepicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "country",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/countries",
    "type": "content"
  }
}]]></Config>
</DataType>