<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60252e5e-f65d-4a05-9f23-f87d46f196c1" Alias="ContentTemplateDetails - Title - Textbox" Level="1">
  <Info>
    <Name>ContentTemplateDetails - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>