<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ab42ec8-3801-4629-8342-2a4e0781fb1e" Alias="Content Template - Title - Textbox" Level="1">
  <Info>
    <Name>Content Template - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>