<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45a35850-25b4-4943-8b42-23b79870d3f6" Alias="ContentTemplateDetailsPage - Related Media Items - Media Picker" Level="1">
  <Info>
    <Name>ContentTemplateDetailsPage - Related Media Items - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "customVideo,customYouTube,relatedImage",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/3823ff021aed429bb4885f5446979512",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>