<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f94faae2-0451-4a4e-9266-59a1118f2de6" Alias="Content Template - Breadcrumb Parent - Content Picker" Level="1">
  <Info>
    <Name>Content Template - Breadcrumb Parent - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": true,
  "StartNodeId": "umb://document/10a0ce8f14324b4981d9c752c0a4b9d4"
}]]></Config>
</DataType>