<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f2b97fd-1621-44dd-8ddf-2f9adac82cb3" Alias="Content Template 4 - Infrastructure Title - Textbox" Level="1">
  <Info>
    <Name>Content Template 4 - Infrastructure Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>