<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32c60952-364b-42dc-8bc1-e909a2bd6d8b" Alias="Content Template3 Section - Details - Textarea" Level="1">
  <Info>
    <Name>Content Template3 Section - Details - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>