<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d337671-8113-418f-8b63-01246d7e1a22" Alias="Contact Us Request - Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Contact Us Request - Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "contactUsCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/contactuscategories",
    "type": "content"
  }
}]]></Config>
</DataType>