<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7019a347-a756-46ad-a7ea-4553a5843719" Alias="Content Template Related Content - Image - Media Picker" Level="1">
  <Info>
    <Name>Content Template Related Content - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 134,
      "label": "Desktop",
      "width": 134
    },
    {
      "alias": "Tablet",
      "height": 134,
      "label": "Tablet",
      "width": 134
    },
    {
      "alias": "Responsive",
      "height": 134,
      "label": "Responsive",
      "width": 134
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>