<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f700e7d9-6cf1-46e7-b72c-2fd9ad82f1ea" Alias="Contact Us Request - Integration Status - Label" Level="1">
  <Info>
    <Name>Contact Us Request - Integration Status - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>