<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1472c891-0d06-4792-9ac2-f214d85be37f" Alias="Contact Us Request - Culture Language - Label" Level="1">
  <Info>
    <Name>Contact Us Request - Culture Language - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>