<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5058e3e9-940b-4290-b2b8-0fe0f603d931" Alias="Content Template 4 - Kpis Title - Textbox" Level="1">
  <Info>
    <Name>Content Template 4 - Kpis Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>