<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8917b9b7-c434-4a16-bbe6-0fa83fcd025d" Alias="Contact Us Request - Notes - Textarea" Level="1">
  <Info>
    <Name>Contact Us Request - Notes - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>