<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7dad224d-8e95-4ca8-80ce-567c0784cd82" Alias="Content Template3 - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Content Template3 - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Tablet",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Responsive",
      "height": 244,
      "width": 1440
    }
  ]
}]]></Config>
</DataType>