<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f773a1d-ccc6-4b81-acc5-f3d33703edfa" Alias="Content Template 4 - Section Title - Textbox" Level="1">
  <Info>
    <Name>Content Template 4 - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 55
}]]></Config>
</DataType>