<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0be6568c-b6d4-4f9f-a718-52641f3b5f81" Alias="ContentTemplateDetails - Image - Image Cropper (1)" Level="1">
  <Info>
    <Name>ContentTemplateDetails - Image - Image Cropper (1)</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 353,
      "width": 432
    },
    {
      "alias": "Responsive",
      "height": 353,
      "width": 432
    },
    {
      "alias": "Tablet",
      "height": 353,
      "width": 432
    }
  ]
}]]></Config>
</DataType>