<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c72a7b63-41fa-4597-ac88-988bc7bee6ec" Alias="ContentTemplateDetails - SectionBrief - Textarea" Level="1">
  <Info>
    <Name>ContentTemplateDetails - SectionBrief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70,
  "Rows": 3
}]]></Config>
</DataType>