<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1984e166-2355-4d6a-a2e6-ffdec53bc8af" Alias="Contact Us Category -Email- Repeatable textstrings" Level="1">
  <Info>
    <Name>Contact Us Category -Email- Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>