<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0af6f924-517a-4ed8-87d1-2d1aba5ee2a2" Alias="Content Template3 Image - UmbracoFile - Image Cropper" Level="1">
  <Info>
    <Name>Content Template3 Image - UmbracoFile - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Section Image",
      "height": 200,
      "width": 200
    }
  ]
}]]></Config>
</DataType>