<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a90e377-7d02-45f9-b001-9fbc43c2a0ae" Alias="ContentTemplateDetails - Image - Image Cropper" Level="1">
  <Info>
    <Name>ContentTemplateDetails - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>