<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99cc8c79-682c-405f-b883-f33159a31731" Alias="Content Template 4 - Kpis Brief - Textarea" Level="1">
  <Info>
    <Name>Content Template 4 - Kpis Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 127,
  "Rows": 2
}]]></Config>
</DataType>