<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f3f96a5-0416-4a66-89a1-23187b80d028" Alias="Contact Us - fax - Textbox" Level="1">
  <Info>
    <Name>Contact Us - fax - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>