<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e64daa51-d0b7-4d11-b04c-fb59c827ab7d" Alias="Content Template3 Section - First Image - Media Picker" Level="1">
  <Info>
    <Name>Content Template3 Section - First Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 400,
      "label": "Desktop",
      "width": 1107
    },
    {
      "alias": "Tablet",
      "height": 400,
      "label": "Tablet",
      "width": 1107
    },
    {
      "alias": "Responsive",
      "height": 400,
      "label": "Responsive",
      "width": 1107
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/c6d18f7bd30c4b268b6c677b87bbd6ef",
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>