<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00ddf041-312f-425f-860e-720c51081020" Alias="Content Template 4 - Snapshot Title - Textbox" Level="1">
  <Info>
    <Name>Content Template 4 - Snapshot Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>