<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6187332a-47b4-41dc-bc7e-0be2a47fcd1a" Alias="Contact Us Request - Name - Label" Level="1">
  <Info>
    <Name>Contact Us Request - Name - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>