<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39960e76-234b-4e5f-957a-54556048ec47" Alias="Contact Us - Business Hours - Textbox" Level="1">
  <Info>
    <Name>Contact Us - Business Hours - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 80
}]]></Config>
</DataType>