<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bd8236a-0952-4e76-9317-960b08bdbd22" Alias="Contact Us Request - Category - Content Picker" Level="1">
  <Info>
    <Name>Contact Us Request - Category - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/864dfdf8366345539ab28a21dc345fe2"
}]]></Config>
</DataType>