<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76a11314-f6f4-44c4-a6fa-79fbae5036ae" Alias="Content Template 1 - Content - Block List" Level="1">
  <Info>
    <Name>Content Template 1 - Content - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "755d2a1e-5c2a-4f21-acdd-77c0683f5df9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 6,
    "min": 0
  }
}]]></Config>
</DataType>