<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b60b2f77-5b38-4457-8e09-184299603b58" Alias="Contact Us - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Contact Us - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 120,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>