<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bae1fda1-9fc3-4cc4-ae9a-78938fb0a7d3" Alias="Content Template Related Content - Target - Dropdown" Level="1">
  <Info>
    <Name>Content Template Related Content - Target - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Current Tab"
    },
    {
      "id": 2,
      "value": "New Tab"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>