<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f9e1e53-28ef-409c-a4ca-dba86de4a0d4" Alias="Content Template3 - Sub Title - Textbox" Level="1">
  <Info>
    <Name>Content Template3 - Sub Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>