<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90ffa282-20e4-47d0-bebb-44ef97e3591a" Alias="ContactUsCategory - Title - Textbox" Level="1">
  <Info>
    <Name>ContactUsCategory - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>