<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1baac8b-8d09-4b36-aea7-70bd9b7f3aad" Alias="Contact Us - Address - Textarea" Level="1">
  <Info>
    <Name>Contact Us - Address - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100,
  "Rows": 3
}]]></Config>
</DataType>