<?xml version="1.0" encoding="utf-8"?>
<DataType Key="160002f6-74fc-4a8a-88ed-45a3e02db04f" Alias="Content Template Related Content - Link Item Editor" Level="1">
  <Info>
    <Name>Content Template Related Content - Link Item Editor</Name>
    <EditorAlias>Custom.LinkItemEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "maxLength": 15
}]]></Config>
</DataType>