<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1079074-3f04-467d-9324-5c3ad00bcfd8" Alias="Contact Us Request - Nationality - Multinode Treepicker" Level="1">
  <Info>
    <Name>Contact Us Request - Nationality - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "nationality",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/nationalities",
    "type": "content"
  }
}]]></Config>
</DataType>