<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f52d14d8-b3f8-4f20-8b43-0a3dc9653e00" Alias="Content Template3 - Header Title - Textbox" Level="1">
  <Info>
    <Name>Content Template3 - Header Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 55
}]]></Config>
</DataType>