<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab2c6d69-3be8-4432-bf76-d5f05e7e010b" Alias="Content Template3 - Title - Textbox" Level="1">
  <Info>
    <Name>Content Template3 - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 84
}]]></Config>
</DataType>