<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed1bcf8d-47fa-4fca-944f-97a1fa52cb4f" Alias="ContentTemplateDetails - BannerImage - Image Cropper" Level="1">
  <Info>
    <Name>ContentTemplateDetails - BannerImage - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Tablet",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Responsive",
      "height": 244,
      "width": 1440
    }
  ]
}]]></Config>
</DataType>