<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48a8592e-6670-452e-ae66-75b9df51f555" Alias="Contact Us - Brief - Textarea" Level="1">
  <Info>
    <Name>Contact Us - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 250,
  "Rows": 5
}]]></Config>
</DataType>