<?xml version="1.0" encoding="utf-8"?>
<DataType Key="494877d1-8ad1-415a-8806-60d4de43706b" Alias="Court - Court President - Textbox" Level="1">
  <Info>
    <Name>Court - Court President - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70
}]]></Config>
</DataType>