<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a9c5b95-796b-4176-b595-174809e44c1e" Alias="Court - Court Name - Textbox" Level="1">
  <Info>
    <Name>Court - Court Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>