<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e36ad1ff-68cd-4d9f-835b-af4e0bbd5101" Alias="Court - Address - Textarea" Level="1">
  <Info>
    <Name>Court - Address - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 90,
  "Rows": 3
}]]></Config>
</DataType>