<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89752ae5-5364-4ce6-bc12-0f78dbdd9f55" Alias="Court - Geographical Scope - Textbox" Level="1">
  <Info>
    <Name>Court - Geographical Scope - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 85
}]]></Config>
</DataType>