<?xml version="1.0" encoding="utf-8"?>
<DataType Key="209d4c6b-c5eb-4675-afb0-fcbd03a8954b" Alias="Court - Longitude - Textbox" Level="1">
  <Info>
    <Name>Court - Longitude - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>