<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50ab04e7-3553-4379-a2a4-0e9b3cf1e197" Alias="Courts - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Courts - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 120,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>