<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8cd4392-c3df-40e9-8fb2-114b8ea2cb41" Alias="Court - Latitude - Textbox" Level="1">
  <Info>
    <Name>Court - Latitude - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>