<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01dfd454-9f09-48bb-92de-13ffa38f154e" Alias="Courts - Title - Textbox" Level="1">
  <Info>
    <Name>Courts - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>