<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e27f611-5ab4-4ded-a345-22a95f887f21" Alias="CRM Settings - Mobile Image - Image Cropper" Level="1">
  <Info>
    <Name>CRM Settings - Mobile Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home",
      "height": 469,
      "width": 320
    }
  ]
}]]></Config>
</DataType>