<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80d1111a-3671-4f34-9c0f-8ad2c80cf309" Alias="CRM Settings - Statistics Url - Textbox" Level="1">
  <Info>
    <Name>CRM Settings - Statistics Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 150
}]]></Config>
</DataType>