<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cd80a2e-799c-445d-ad10-3601ab221cd7" Alias="CRM Settings - Statistics Url - Label" Level="1">
  <Info>
    <Name>CRM Settings - Statistics Url - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>