<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80b387ed-7f87-4e65-ba8b-bf3b0f07d715" Alias="CRM Settings - Desktop Image - Image Cropper" Level="1">
  <Info>
    <Name>CRM Settings - Desktop Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home",
      "height": 292,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>