<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84f63292-03c2-4221-b3e9-a4a85c90fd8d" Alias="CRM Settings - Indicator Name - Textbox" Level="1">
  <Info>
    <Name>CRM Settings - Indicator Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>