<?xml version="1.0" encoding="utf-8"?>
<DataType Key="836e908d-e6e1-4a6e-a720-636eefe952bb" Alias="CustomGrid - Grid - Media Gallery List View" Level="1">
  <Info>
    <Name>CustomGrid - Grid - Media Gallery List View</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>