<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33bb2b44-1df3-4ebe-a58d-ebaeb06fc2fc" Alias="Date BCAD" Level="1">
  <Info>
    <Name>Date BCAD</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>