<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c36905b-7e39-4726-96d4-9ada0fe05739" Alias="Description - Rich Text Editor" Level="1">
  <Info>
    <Name>Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "table",
      "hr",
      "subscript",
      "superscript",
      "rtl",
      "ltr"
    ],
    "stylesheets": [
      "/css/defaultStyle.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": null
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>