<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df6b69c1-8b1f-4745-9034-8ee2f2b4aebe" Alias="Egypt is ready item - key indicators - Block List" Level="1">
  <Info>
    <Name>Egypt is ready item - key indicators - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "eaf412af-b678-49b7-9828-7ffa1a31670d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": 1
  }
}]]></Config>
</DataType>