<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40d45319-0d63-475c-a15b-e3ea70a22f5f" Alias="Egypt is ready item - Title - Textbox" Level="1">
  <Info>
    <Name>Egypt is ready item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 33
}]]></Config>
</DataType>