<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73aac390-d04f-4c0e-8fe2-bfb8f9c145d8" Alias="Egypt is ready item - First brief - Textarea" Level="1">
  <Info>
    <Name>Egypt is ready item - First brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 140,
  "Rows": null
}]]></Config>
</DataType>