<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f37dd017-7016-427a-85f7-7d14b81ebb3d" Alias="Egypt is ready item - Media Picker" Level="1">
  <Info>
    <Name>Egypt is ready item - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>