<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b18a2e05-ece0-4fb9-8852-ec02c5cdecc1" Alias="Egypt is ready item - image - Image Cropper" Level="1">
  <Info>
    <Name>Egypt is ready item - image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 790,
      "width": 1440
    },
    {
      "alias": "Tablet",
      "height": 600,
      "width": 1200
    },
    {
      "alias": "Responsive",
      "height": 800,
      "width": 430
    },
    {
      "alias": "Mobile",
      "height": 800,
      "width": 430
    },
    {
      "alias": "Details_Desktop",
      "height": 512,
      "width": 1277
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    }
  ]
}]]></Config>
</DataType>