<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfe43ad3-794d-4154-bd13-86adde7ea45e" Alias="Egypt is ready item - URL - Textbox" Level="1">
  <Info>
    <Name>Egypt is ready item - URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>