<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd087afd-1316-4d9e-9fbf-9d6e495c4ed1" Alias="Egypt is ready item - URL - Textbox (1)" Level="1">
  <Info>
    <Name>Egypt is ready item - URL - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>