<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02f6a9d5-543d-4179-86b1-2d7c16403752" Alias="Egypt is ready item - key indicators - Block List (1)" Level="1">
  <Info>
    <Name>Egypt is ready item - key indicators - Block List (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "eaf412af-b678-49b7-9828-7ffa1a31670d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": 1
  }
}]]></Config>
</DataType>