<?xml version="1.0" encoding="utf-8"?>
<DataType Key="553a680f-97fe-415f-99e5-061af92c00ed" Alias="Egypt is ready item - Description - Textarea" Level="1">
  <Info>
    <Name>Egypt is ready item - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 625,
  "Rows": null
}]]></Config>
</DataType>