<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b2e7288-9b88-45c2-8467-6496f08db895" Alias="Egypt is ready - Image - Media Picker" Level="1">
  <Info>
    <Name>Egypt is ready - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>