<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47d9edf2-f4d2-406c-b319-2ff7c355e27e" Alias="Egypt is ready - Title - Textbox" Level="1">
  <Info>
    <Name>Egypt is ready - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>