<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebefc6e7-058d-47c4-84f0-8ceb6b469200" Alias="Egypt is ready item - Second brief - Textarea" Level="1">
  <Info>
    <Name>Egypt is ready item - Second brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 150,
  "Rows": null
}]]></Config>
</DataType>