<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a66227bf-255b-411e-bc35-e98dafb792b0" Alias="Event Category - Image - Image Cropper" Level="1">
  <Info>
    <Name>Event Category - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 40,
      "width": 40
    }
  ]
}]]></Config>
</DataType>