<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37a79fdf-5f25-45f5-96b7-c4a214d8f44a" Alias="Event - Image - Image Cropper" Level="1">
  <Info>
    <Name>Event - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 286,
      "width": 708
    },
    {
      "alias": "Home_Tablet",
      "height": 218,
      "width": 540
    },
    {
      "alias": "Home_Responsive",
      "height": 110,
      "width": 287
    },
    {
      "alias": "Details_Desktop",
      "height": 353,
      "width": 948
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    },
    {
      "alias": "Listing_Desktop",
      "height": 216,
      "width": 536
    },
    {
      "alias": "Listing_Tablet",
      "height": 168,
      "width": 420
    },
    {
      "alias": "Listing_Responsive",
      "height": 110,
      "width": 287
    }
  ]
}]]></Config>
</DataType>