<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3b714da-5f39-4144-8fd9-7f99208b0c8d" Alias="Events - Title - Textbox" Level="1">
  <Info>
    <Name>Events - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>