<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d3172a4-51db-47e8-a849-e2c19efa8ee2" Alias="Events - Section Title - Textbox" Level="1">
  <Info>
    <Name>Events - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 65
}]]></Config>
</DataType>