<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdef095f-004f-4562-a067-a2c197200b55" Alias="Event - Related Media - Media Picker" Level="1">
  <Info>
    <Name>Event - Related Media - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "customVideo,customYouTube,relatedImage",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/3823ff021aed429bb4885f5446979512",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>