<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1a8cefb-0008-4455-858f-29553916f42a" Alias="Event Sub Category - Name - Textbox" Level="1">
  <Info>
    <Name>Event Sub Category - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 45
}]]></Config>
</DataType>