<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72294f6d-ca21-482a-9028-dbfb9692a481" Alias="Event - Event Tags - Tags" Level="1">
  <Info>
    <Name>Event - Event Tags - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>