<?xml version="1.0" encoding="utf-8"?>
<DataType Key="801d6d98-97d3-4f22-b260-5f6d5d023c50" Alias="Events - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Events - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 118,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>