<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c91ebcb-8b4d-46fc-a3de-cb30c62fac54" Alias="Event - Related Media -  Brief - Textarea" Level="1">
  <Info>
    <Name>Event - Related Media -  Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125,
  "Rows": 3
}]]></Config>
</DataType>