<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ad63202-c1cf-4525-933a-fbd6db4cb2f5" Alias="Event - Categories - Multinode Treepicker" Level="1">
  <Info>
    <Name>Event - Categories - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "eventCategory,eventSubCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/eventCategories",
    "type": "content"
  }
}]]></Config>
</DataType>