<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3e20a57-72cf-4355-836f-327cfac46932" Alias="Event Category - Category Name - Textbox" Level="1">
  <Info>
    <Name>Event Category - Category Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>