<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05335c7e-a8cf-4c60-a2fc-440cf3c98dd8" Alias="Event - Related Media - Title - Textbox" Level="1">
  <Info>
    <Name>Event - Related Media - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>