<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf6b1dea-abbe-461d-96c0-7817817aeb44" Alias="FAQs - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>FAQs - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 244,
      "width": 1440
    }
  ]
}]]></Config>
</DataType>