<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fe1f74d-9c21-46db-888e-b443e6ea0cf3" Alias="FAQs - SectionTitle - Textbox" Level="1">
  <Info>
    <Name>FAQs - SectionTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>