<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f2fe2e1-7e0d-42c6-9e12-fc413dd26a2c" Alias="FAQs - Section Title - Textbox" Level="1">
  <Info>
    <Name>FAQs - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>