<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bf3d8fe-4904-4b3b-8866-d2fc0f5c1ad4" Alias="Folder - Image - File upload" Level="1">
  <Info>
    <Name>Folder - Image - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "png"
    },
    {
      "id": 0,
      "value": "jpg"
    },
    {
      "id": 0,
      "value": "jpeg"
    }
  ]
}]]></Config>
</DataType>