<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9872c3de-1c39-4bed-bac2-5aecca7f8fa7" Alias="Folder - Image - Image Cropper" Level="1">
  <Info>
    <Name>Folder - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>