<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1d174f8-08ee-4fea-a4f2-064e0183da42" Alias="Folder - Date - DateTime" Level="1">
  <Info>
    <Name>Folder - Date - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>