<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a6d32fb-cdb7-489e-b795-b7f5ea5599b6" Alias="Footer - SimpleTreeMenu" Level="1">
  <Info>
    <Name>Footer - SimpleTreeMenu</Name>
    <EditorAlias>SimpleTreeMenu</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "doctype": "menuNode",
  "levels": 1
}]]></Config>
</DataType>