<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ed1ec62-bbef-43b9-ab04-7707eaf59a23" Alias="Gender - Title - Textbox" Level="1">
  <Info>
    <Name>Gender - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>