<?xml version="1.0" encoding="utf-8"?>
<DataType Key="028ea0de-258e-46c4-877c-237ba0b8cc1e" Alias="Generic - Email - Textbox" Level="1">
  <Info>
    <Name>Generic - Email - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 35
}]]></Config>
</DataType>