<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b1382b1-bc65-45e6-976e-ce18aa73b473" Alias="Generic - Image Description - Textbox" Level="1">
  <Info>
    <Name>Generic - Image Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>