<?xml version="1.0" encoding="utf-8"?>
<DataType Key="458a6c1a-4513-4e99-b7fe-f9dfb8c7b19f" Alias="Highlight Video - Title - Textbox" Level="1">
  <Info>
    <Name>Highlight Video - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>