<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8ccc18c-5bbf-4659-9118-a2eaa3663e8e" Alias="Highlight - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>Highlight - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "undo",
      "redo",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "umbmediapicker",
      "table",
      "hr",
      "subscript",
      "superscript",
      "rtl",
      "ltr"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>