<?xml version="1.0" encoding="utf-8"?>
<DataType Key="996c156f-4a77-4d22-9a46-5937c123a60e" Alias="Highlights - SectionName - Textbox" Level="1">
  <Info>
    <Name>Highlights - SectionName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>