<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3cc1099-3d5f-4456-a5ad-fa7b6963a99b" Alias="Highlight Video - URL - Textbox" Level="1">
  <Info>
    <Name>Highlight Video - URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>