<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1aac1031-0660-4afb-b997-84daa5930197" Alias="Highlight Video - Photo - Image Cropper" Level="1">
  <Info>
    <Name>Highlight Video - Photo - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home",
      "height": 425,
      "width": 913
    }
  ]
}]]></Config>
</DataType>