<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fce93678-2497-495e-aed8-e9b8286f36d1" Alias="Highlight - KPIs - Block List" Level="1">
  <Info>
    <Name>Highlight - KPIs - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0327af40-fc5a-46a4-a3e5-0d211238f898",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{brief}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": 0
  }
}]]></Config>
</DataType>