<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46518aaf-0119-4e93-a4e3-ddb72394829b" Alias="Highlight Video - Video - File upload" Level="1">
  <Info>
    <Name>Highlight Video - Video - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "MP4"
    }
  ]
}]]></Config>
</DataType>