<?xml version="1.0" encoding="utf-8"?>
<DataType Key="758ab9dc-230a-44cb-92a2-3e1a106a6f8c" Alias="Highlight - Video - File upload" Level="1">
  <Info>
    <Name>Highlight - Video - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "mp4"
    },
    {
      "id": 0,
      "value": "webm"
    }
  ]
}]]></Config>
</DataType>