<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2597d80b-7e1a-43fa-a7a0-2763389076e8" Alias="Highlight - First brief - Textbox" Level="1">
  <Info>
    <Name>Highlight - First brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>