<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b95b7633-4a8e-4249-8f55-54cfbf9096e7" Alias="Highlight - Show Slogan - Toggle" Level="1">
  <Info>
    <Name>Highlight - Show Slogan - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>