<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e63efdc0-ea7e-4d9f-bcd7-4de12e382418" Alias="Highlight - First URL - Link Item Editor" Level="1">
  <Info>
    <Name>Highlight - First URL - Link Item Editor</Name>
    <EditorAlias>Custom.LinkItemEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>