<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb84e686-3c67-47c2-8c6f-73a33b34bb3d" Alias="Home - Show Events On Home - Toggle" Level="1">
  <Info>
    <Name>Home - Show Events On Home - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hidden",
  "LabelOn": "Shown",
  "ShowLabels": true
}]]></Config>
</DataType>