<?xml version="1.0" encoding="utf-8"?>
<DataType Key="397d27b4-f5da-442c-835f-12f2dd280f2e" Alias="Home - Show Publications On Home - Toggle" Level="1">
  <Info>
    <Name>Home - Show Publications On Home - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hidden",
  "LabelOn": "Shown",
  "ShowLabels": true
}]]></Config>
</DataType>