<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f65a9b9d-5db1-48ab-b235-98eb4d29ed40" Alias="Home - Start a business - Link Item Editor" Level="1">
  <Info>
    <Name>Home - Start a business - Link Item Editor</Name>
    <EditorAlias>Custom.LinkItemEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "maxLength": 17
}]]></Config>
</DataType>