<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7dd5f46c-b9cd-4f7e-926c-0e59d200bc30" Alias="Image Media File - Description - Textbox" Level="1">
  <Info>
    <Name>Image Media File - Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>