<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569a2228-a538-4f70-bd0c-4aaf2bc6058b" Alias="Indicator - Title - Textbox" Level="1">
  <Info>
    <Name>Indicator - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>