<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1094990d-b05e-4a48-bb40-9f5285227910" Alias="Indicator - Number - Decimal" Level="1">
  <Info>
    <Name>Indicator - Number - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>