<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53164e6a-41c1-4464-88d9-d492c10407af" Alias="Info Graph Section - Title - Textbox" Level="1">
  <Info>
    <Name>Info Graph Section - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 27
}]]></Config>
</DataType>