<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f0cc45d-d336-4790-afc1-b52632fd81a4" Alias="Info Graph Section - Redirect URL - Textbox" Level="1">
  <Info>
    <Name>Info Graph Section - Redirect URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>