<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7d412ee-fcbf-4d82-aba1-26a46bad5405" Alias="Info Graph Section - Brief - Textarea" Level="1">
  <Info>
    <Name>Info Graph Section - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 168,
  "Rows": 3
}]]></Config>
</DataType>