<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb1698be-4f02-4299-bde0-a9e99138db76" Alias="Infrastructure Block Item - Icon - Media Picker" Level="1">
  <Info>
    <Name>Infrastructure Block Item - Icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>