<?xml version="1.0" encoding="utf-8"?>
<DataType Key="700bba75-27fd-4565-9c98-aa8c15a68b68" Alias="Infrastructure Block Item - Brief - Textbox" Level="1">
  <Info>
    <Name>Infrastructure Block Item - Brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>