<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c65ec88-6d1a-4259-806e-fb283ffb5367" Alias="Infrastructure Content Blocks - Data Items - Block List" Level="1">
  <Info>
    <Name>Infrastructure Content Blocks - Data Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "507a0cf6-9ffe-4a72-8703-f667e458c363",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": 1
  }
}]]></Config>
</DataType>