<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28442372-5373-4160-a49d-5cce1bc85c57" Alias="Infrastructure Content Blocks - Title - Textbox" Level="1">
  <Info>
    <Name>Infrastructure Content Blocks - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 35
}]]></Config>
</DataType>