<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee9f45c7-e8b8-45f4-b802-c1c9ae2f432a" Alias="Invest Map Item - Target URL picker - Link Item Editor" Level="1">
  <Info>
    <Name>Invest Map Item - Target URL picker - Link Item Editor</Name>
    <EditorAlias>Custom.LinkItemEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>