<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce9036a0-6653-46fa-ad6f-68386bd02046" Alias="Invest Map Item - Multi URL Picker" Level="1">
  <Info>
    <Name>Invest Map Item - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": true,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>