<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02464436-6ff6-4517-a9cb-ba15b14b8e6a" Alias="Invest Map Item - Toggle" Level="1">
  <Info>
    <Name>Invest Map Item - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>