<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ddb84bf-196c-4173-b7f6-75515c67b926" Alias="KPI - Description - Textbox" Level="1">
  <Info>
    <Name>KPI - Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>