<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4044198e-7bde-4c8a-bc33-f6d84fa3f4c1" Alias="KPI - File upload" Level="1">
  <Info>
    <Name>KPI - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "JPG"
    }
  ]
}]]></Config>
</DataType>