<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5917426-1dff-4d5d-951b-3db74f2cf320" Alias="KPI - HINT - Label" Level="1">
  <Info>
    <Name>KPI - HINT - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>