<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31dba387-c214-4bf8-93ae-1fcd920eb0a6" Alias="KPI - KPI image - Image Cropper" Level="1">
  <Info>
    <Name>KPI - KPI image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 47,
      "width": 47
    },
    {
      "alias": "Responsive",
      "height": 25,
      "width": 25
    },
    {
      "alias": "Tablet",
      "height": 40,
      "width": 40
    }
  ]
}]]></Config>
</DataType>