<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8ed7030-27d1-497c-9a13-2aa4240d201e" Alias="KPI - Note - Label" Level="1">
  <Info>
    <Name>KPI - Note - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>