<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bcf0baf-a4bf-43f7-8db2-3309f721406b" Alias="KPI - Number - Decimal" Level="1">
  <Info>
    <Name>KPI - Number - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>