<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d6a8006-6e52-4c4c-a8e9-c1c8ac06452b" Alias="KPI - Prefix Unit - Textbox" Level="1">
  <Info>
    <Name>KPI - Prefix Unit - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>