<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8b00997-0e40-436c-93ad-797669153483" Alias="KPI - Suffix Unit - Textbox" Level="1">
  <Info>
    <Name>KPI - Suffix Unit - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>