<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89153fc2-c7f5-4761-aa78-bffd372ca54c" Alias="Link Item - Link Item Editor" Level="1">
  <Info>
    <Name>Link Item - Link Item Editor</Name>
    <EditorAlias>Custom.LinkItemEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>