<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8209e6ef-0e13-4b04-9262-a928fbcf1d35" Alias="List View - Block List (1)" Level="1">
  <Info>
    <Name>List View - Block List (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c73fb2fb-696d-41a6-9ef6-94fa69a439cc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>