<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2e73153-91ae-4333-a361-70aaa49ce9b1" Alias="List View - bookletsCategories" Level="1">
  <Info>
    <Name>List View - bookletsCategories</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "owner",
      "header": "Created by",
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "sortOrder",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": null,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>