<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec0de608-83e5-4f21-b2a2-6c85feb19d60" Alias="List View - polls" Level="1">
  <Info>
    <Name>List View - polls</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "isShowInHomePage",
      "header": "is Show In Home Page",
      "isSystem": 0,
      "nameTemplate": "{{value}}"
    },
    {
      "alias": "owner",
      "header": null,
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "isShowInHomePage",
  "OrderDirection": "desc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": "Polls",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>