<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ff6729a-58cf-4842-887c-f56f429080ee" Alias="List View - successStories" Level="1">
  <Info>
    <Name>List View - successStories</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "showInHomePage",
      "header": "Show In Home",
      "isSystem": 0,
      "nameTemplate": "{{value == 1 ? \"Yes\" : \"No\"}}"
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "owner",
      "header": "Created by",
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "sortOrder",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": "Stories",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>