<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4e2cbe3-bbee-48ec-af0e-a6dc4e8a700a" Alias="Location - Textbox" Level="1">
  <Info>
    <Name>Location - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 45
}]]></Config>
</DataType>