<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f74aa6d-a3ac-48d2-ab3f-044c09b55fc1" Alias="Media Album - Album Cover - Image Cropper" Level="1">
  <Info>
    <Name>Media Album - Album Cover - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Listing_Desktop",
      "height": 394,
      "width": 323
    },
    {
      "alias": "Listing_Tablet",
      "height": 394,
      "width": 323
    },
    {
      "alias": "Listing_Responsive",
      "height": 394,
      "width": 323
    }
  ]
}]]></Config>
</DataType>