<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e2c64db-3ed6-4b0f-b604-9e0e77f72027" Alias="Media Center - Title - Textbox" Level="1">
  <Info>
    <Name>Media Center - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 75
}]]></Config>
</DataType>