<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d987067-fb26-41b2-904a-458e12ce130b" Alias="Media Center - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Media Center - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 270,
      "width": 1440
    }
  ]
}]]></Config>
</DataType>