<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57e4541c-502d-4306-b8a9-26eb22d5554f" Alias="Media - Title - Textbox" Level="1">
  <Info>
    <Name>Media - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 47
}]]></Config>
</DataType>