<?xml version="1.0" encoding="utf-8"?>
<DataType Key="faeff4af-2d70-40b7-b8cc-0445c024e14c" Alias="Media Center Item - Title - Textbox" Level="1">
  <Info>
    <Name>Media Center Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>