<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d32e30a-f07d-4555-bc88-0eeeb9cfe243" Alias="Media Center - Section Title - Textbox" Level="1">
  <Info>
    <Name>Media Center - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>