<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a86e0b0d-fa65-4739-8318-38996ad0ae38" Alias="Media- Image - ImageCropper" Level="1">
  <Info>
    <Name>Media- Image - ImageCropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 500,
      "width": 505
    }
  ]
}]]></Config>
</DataType>