<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef0a57e0-bf07-403a-b0b4-c0b52b5f09b5" Alias="Media Center Item - Media Content - Multinode Treepicker" Level="1">
  <Info>
    <Name>Media Center Item - Media Content - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>