<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19423629-4c11-48e4-a210-cfe23e0b8f2b" Alias="Media Albums - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Media Albums - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 120,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>