<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99417fba-3872-48da-8fa8-77cb5a6dea2f" Alias="Media Album - Creation Date - Date" Level="1">
  <Info>
    <Name>Media Album - Creation Date - Date</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>