<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d009ee8-f97c-464e-82d9-ba2d815deb67" Alias="Media Center Item - Image - Image Cropper" Level="1">
  <Info>
    <Name>Media Center Item - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>