<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7011ab00-217b-4f26-b139-683ac7561944" Alias="Media Album Image - Media - Image Cropper" Level="1">
  <Info>
    <Name>Media Album Image - Media - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Listing Page",
      "height": 218,
      "width": 261
    },
    {
      "alias": "Popup",
      "height": 493,
      "width": 895
    },
    {
      "alias": "Home-Large",
      "height": 560,
      "width": 502
    },
    {
      "alias": "Home-Small",
      "height": 265,
      "width": 502
    },
    {
      "alias": "Search",
      "height": 100,
      "width": 106
    }
  ]
}]]></Config>
</DataType>