<?xml version="1.0" encoding="utf-8"?>
<DataType Key="621c4ba3-42cc-423d-9f2d-4c535bbd53ad" Alias="Media Folder - Images - Media Picker" Level="1">
  <Info>
    <Name>Media Folder - Images - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>