<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4896740-11f0-43d6-b169-f899fbe6ee31" Alias="Menu Node - Show In Menu - Toggle" Level="1">
  <Info>
    <Name>Menu Node - Show In Menu - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>