<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16e743cf-f601-4578-b15c-7fa4abaa942b" Alias="Menu Node - Show In Footer - Toggle" Level="1">
  <Info>
    <Name>Menu Node - Show In Footer - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>