<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d41da2eb-f8b9-4109-bd02-a8a1fa838bd7" Alias="Menu Node - Target - Dropdown" Level="2">
  <Info>
    <Name>Menu Node - Target - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Current Tab"
    },
    {
      "id": 1,
      "value": "New Tab"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>