<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aaed1b6-09c6-4d4c-ad6a-dfedc1da637b" Alias="Menu Node - Order - Numeric (1)" Level="1">
  <Info>
    <Name>Menu Node - Order - Numeric (1)</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>