<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78832aaf-0bdc-40db-a05d-c12add069b5c" Alias="Menu - SimpleTree" Level="2">
  <Info>
    <Name>Menu - SimpleTree</Name>
    <EditorAlias>SimpleTreeMenu</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "doctype": "menuNode",
  "levels": 2
}]]></Config>
</DataType>