<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7b35c94-7f7c-484d-b7f1-fdf8091430fa" Alias="Menu Node - Target Url - Textbox" Level="1">
  <Info>
    <Name>Menu Node - Target Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>