<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75fefa3c-8179-45f9-95e6-391f7dea0b8a" Alias="Menu Node - Redirect To  Page - Toggle" Level="1">
  <Info>
    <Name>Menu Node - Redirect To  Page - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>