<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1eb36abf-8036-4911-82f1-a6b445ae33ec" Alias="Menu Node - Area - Dropdown" Level="1">
  <Info>
    <Name>Menu Node - Area - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "A"
    },
    {
      "id": 2,
      "value": "B"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>