<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ee30caf-a4d1-4680-be63-b8e3eba1b605" Alias="Month - Name - Textbox" Level="1">
  <Info>
    <Name>Month - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>