<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d68534f3-5d9d-456c-8d07-7e491c56e193" Alias="Nationality - Title - Textbox" Level="1">
  <Info>
    <Name>Nationality - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>