<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bc59241-6ff6-448f-abfc-723c2ef3af57" Alias="News Category - Category Name - Textbox" Level="1">
  <Info>
    <Name>News Category - Category Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>