<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1377ac40-5fb5-4dc6-8eff-58ca35e4cdeb" Alias="News Item - News Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>News Item - News Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>