<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e3c001a-8f77-4cb1-b6b4-c6da799b9fbf" Alias="News - Related Media - Media Picker" Level="1">
  <Info>
    <Name>News - Related Media - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "relatedImage,customVideo,customYouTube",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/3823ff021aed429bb4885f5446979512",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>