<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9972bd48-1ed7-4d4e-ba30-5606cbb3f65d" Alias="News Item - News Category - Multinode Treepicker 2" Level="1">
  <Info>
    <Name>News Item - News Category - Multinode Treepicker 2</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "category",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/4504df61bb8f462c8735d3acebbe97ba",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>