<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9de1799-0510-4922-822e-33e9c75ccb00" Alias="News - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>News - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 118,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>