<?xml version="1.0" encoding="utf-8"?>
<DataType Key="701be043-297f-49ef-82e7-b4d0fd3350bb" Alias="News Item - Title - Textbox" Level="1">
  <Info>
    <Name>News Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 69
}]]></Config>
</DataType>