<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42cd43d2-5eb4-4a41-8269-053b5d6930e5" Alias="News Item - Brief - Textarea (1)" Level="1">
  <Info>
    <Name>News Item - Brief - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 142,
  "Rows": null
}]]></Config>
</DataType>