<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91aed332-5d09-4458-9072-fdca528dfa4d" Alias="NewsLetter Template - Content Type - Dropdown" Level="1">
  <Info>
    <Name>NewsLetter Template - Content Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Announcements"
    },
    {
      "id": 2,
      "value": "News"
    },
    {
      "id": 3,
      "value": "Events"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>