<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53c6cff8-1e17-4264-a6d3-12580c41892e" Alias="NewsLetter Template - Filtered by - Dropdown" Level="1">
  <Info>
    <Name>NewsLetter Template - Filtered by - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Recent"
    },
    {
      "id": 2,
      "value": "Category"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>