<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0b441d6-6286-46db-b402-66a207458dc0" Alias="News Item - Image - Image Cropper" Level="1">
  <Info>
    <Name>News Item - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 236,
      "width": 412
    },
    {
      "alias": "Home_Tablet",
      "height": 235,
      "width": 400
    },
    {
      "alias": "Home_Responsive",
      "height": 157,
      "width": 287
    },
    {
      "alias": "Details_Desktop",
      "height": 353,
      "width": 948
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    },
    {
      "alias": "Listing_Desktop",
      "height": 202,
      "width": 286
    },
    {
      "alias": "Listing_Tablet",
      "height": 202,
      "width": 286
    },
    {
      "alias": "Listing_Responsive",
      "height": 202,
      "width": 286
    }
  ]
}]]></Config>
</DataType>