<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3227b175-f6b8-4491-8761-1c37a71b2d99" Alias="News Item - Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>News Item - Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "newsCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/newsCategories",
    "type": "content"
  }
}]]></Config>
</DataType>