<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2ef2e14-6988-4912-b836-48fd81c217a6" Alias="News - Section Title - Textbox" Level="1">
  <Info>
    <Name>News - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>