<?xml version="1.0" encoding="utf-8"?>
<DataType Key="744eeee3-5479-4c99-8809-767fa5945f5a" Alias="News Item - Brief - Textarea" Level="1">
  <Info>
    <Name>News Item - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 194,
  "Rows": 5
}]]></Config>
</DataType>