<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00ceaf62-5011-4ffd-9205-515281a3c736" Alias="News - Title - Textbox" Level="1">
  <Info>
    <Name>News - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>