<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c7e7550-1352-4ee1-ae55-97db472399f0" Alias="NewsLetter Template - Title - Textbox" Level="1">
  <Info>
    <Name>NewsLetter Template - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>