<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f2698d8-7cd9-424e-a38a-fc76ff6655e1" Alias="Partner Category  - Brief - Textbox" Level="1">
  <Info>
    <Name>Partner Category  - Brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 65
}]]></Config>
</DataType>