<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9165b23a-26fc-4924-a169-0ca09a3171db" Alias="Partner - Name - Textbox" Level="1">
  <Info>
    <Name>Partner - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>