<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bdebc33-7bf5-4890-aece-e59768e47a4b" Alias="Partner Category - Show/Hide - Toggle" Level="1">
  <Info>
    <Name>Partner Category - Show/Hide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hide",
  "LabelOn": "Show",
  "ShowLabels": false
}]]></Config>
</DataType>