<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbca58d2-1c4b-410c-a6e7-2f68d1c610b8" Alias="Partner - Description - Textarea" Level="1">
  <Info>
    <Name>Partner - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>