<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d84f2534-f2f0-4b19-93f3-805e1bfcbc54" Alias="Partner Type - Partner type name - Textbox" Level="1">
  <Info>
    <Name>Partner Type - Partner type name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 35
}]]></Config>
</DataType>