<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59a8f5be-afe5-4598-ac5b-4c7018659b40" Alias="Partner - Partner Type - Multinode Treepicker" Level="1">
  <Info>
    <Name>Partner - Partner Type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "partnerType",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/partnerTypes",
    "type": "content"
  }
}]]></Config>
</DataType>