<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1ea885f-7fbe-4299-9684-0e36656ac25e" Alias="Partner - Show/Hide - Toggle" Level="1">
  <Info>
    <Name>Partner - Show/Hide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hide",
  "LabelOn": "Show",
  "ShowLabels": false
}]]></Config>
</DataType>