<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06185b45-843c-44b5-9c18-971eb0ffebf1" Alias="Partner Category - Category Name - Textbox" Level="1">
  <Info>
    <Name>Partner Category - Category Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>