<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ef173c5-65cf-4250-8cc9-8e8b2affbf48" Alias="Partner - Logo - Image Cropper" Level="1">
  <Info>
    <Name>Partner - Logo - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 56,
      "width": 138
    },
    {
      "alias": "Home_Tablet",
      "height": 56,
      "width": 138
    },
    {
      "alias": "Home_Responsive",
      "height": 56,
      "width": 138
    },
    {
      "alias": "Listing_Desktop",
      "height": 56,
      "width": 138
    },
    {
      "alias": "Listing_Responsive",
      "height": 56,
      "width": 138
    },
    {
      "alias": "Listing_Tablet",
      "height": 56,
      "width": 138
    }
  ]
}]]></Config>
</DataType>