<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd94b109-fee3-4113-82ea-486fb1b04c30" Alias="Partner Category - Logo - Image Cropper" Level="1">
  <Info>
    <Name>Partner Category - Logo - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>