<?xml version="1.0" encoding="utf-8"?>
<DataType Key="218340f8-6b67-411b-9f47-d87b5d94066b" Alias="Partner - Partner Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Partner - Partner Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "partnerCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/partnerCategories",
    "type": "content"
  }
}]]></Config>
</DataType>