<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0de267ff-e5cc-4a19-a19d-abf53f70991f" Alias="Partner - Image - Image Cropper" Level="1">
  <Info>
    <Name>Partner - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Details_Desktop",
      "height": 512,
      "width": 1277
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    }
  ]
}]]></Config>
</DataType>