<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bd308d8-4699-4db4-9203-f8f6afec728e" Alias="Photo Album Item - Title - Textbox" Level="1">
  <Info>
    <Name>Photo Album Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>