<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d034ba66-8bb5-450d-a897-bd9062b926f4" Alias="Photo Albums - Photos - Media Gallery List View" Level="1">
  <Info>
    <Name>Photo Albums - Photos - Media Gallery List View</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>