<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de6a59bd-80d4-480c-bf6d-c5869ebedf63" Alias="Photo Albums - Section Title - Textbox" Level="1">
  <Info>
    <Name>Photo Albums - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>