<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1df376c-505a-43cd-98a3-9986e110c728" Alias="Polls - Title - Textbox" Level="1">
  <Info>
    <Name>Polls - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>