<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29021280-5fc0-4118-9d26-a4ed30a161a6" Alias="Poll - Option - Textbox" Level="1">
  <Info>
    <Name>Poll - Option - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>