<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72606a03-b87a-41fd-a3a1-17baef4dead3" Alias="Poll - Is Show in Home Page - Toggle" Level="1">
  <Info>
    <Name>Poll - Is Show in Home Page - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>