<?xml version="1.0" encoding="utf-8"?>
<DataType Key="123d5f00-2754-4dbe-955a-95be66ed03ee" Alias="Poll - Answer Option - Nested Content" Level="1">
  <Info>
    <Name>Poll - Answer Option - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "pollOption",
      "ncTabAlias": "General"
    }
  ],
  "ExpandsOnLoad": false,
  "HideLabel": false,
  "MaxItems": 4,
  "MinItems": 2,
  "ShowIcons": true
}]]></Config>
</DataType>