<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fa109e8-64a9-48bc-a2fa-e181ec410ad4" Alias="Poll - Is Show In Polls Listing Page - Toggle" Level="1">
  <Info>
    <Name>Poll - Is Show In Polls Listing Page - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>