<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cc6178c-17cd-406b-9542-c3ba7f577b6d" Alias="Poll - Option Count - Label" Level="1">
  <Info>
    <Name>Poll - Option Count - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "BIGINT"
}]]></Config>
</DataType>