<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1f3c083-87c2-4faa-ada6-d82bb6f923dc" Alias="Poll - Start Date - Date" Level="1">
  <Info>
    <Name>Poll - Start Date - Date</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>