<?xml version="1.0" encoding="utf-8"?>
<DataType Key="733c3ed5-a126-47f6-8572-35bd46a5dab0" Alias="Poll - End Date - Date" Level="1">
  <Info>
    <Name>Poll - End Date - Date</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>