<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f80df6b0-7857-495f-81b6-d2741edc77c8" Alias="Poll - Poll Title - Textbox" Level="1">
  <Info>
    <Name>Poll - Poll Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 80
}]]></Config>
</DataType>