<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0309cdbe-a2c6-4cd8-80d4-e46a922dccf9" Alias="Polls - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Polls - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 119,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>