<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ebc0dea-0497-4a52-b64f-e87beed5d142" Alias="Portal Menu Node - Item Name - Dropdown" Level="1">
  <Info>
    <Name>Portal Menu Node - Item Name - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ABOUT EGYPT"
    },
    {
      "id": 2,
      "value": "WHERE TO GO"
    },
    {
      "id": 3,
      "value": "WHAT TO DO"
    },
    {
      "id": 4,
      "value": "WHAT'S ON"
    },
    {
      "id": 5,
      "value": "GALLERY"
    },
    {
      "id": 6,
      "value": "USEFUL INFORMATION"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>