<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2990a33-5e54-4394-bc0b-5e265e0c8794" Alias="Portal Member - Gender - Content Picker" Level="1">
  <Info>
    <Name>Portal Member - Gender - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/4fd4a386492a4042aa7ad66b323b8b95"
}]]></Config>
</DataType>