<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd2b97cf-62e4-4750-a137-ac72706b86d1" Alias="Portal Member - Country - Content Picker" Level="1">
  <Info>
    <Name>Portal Member - Country - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/37a65a6e0f744cb496f6168d4a87ff36"
}]]></Config>
</DataType>