<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81771742-caf3-4cf8-891d-fd37e735b099" Alias="Portal Menu Node - Show Sections - Radio button list" Level="1">
  <Info>
    <Name>Portal Menu Node - Show Sections - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ABOUT EGYPT"
    },
    {
      "id": 2,
      "value": "WHERE TO GO"
    },
    {
      "id": 3,
      "value": "WHAT TO DO"
    },
    {
      "id": 4,
      "value": "WHATS ON"
    },
    {
      "id": 5,
      "value": "GALLERY"
    },
    {
      "id": 6,
      "value": "USEFUL INFORMATION"
    }
  ]
}]]></Config>
</DataType>