<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fda8ef37-f6cd-41a8-bdfd-ebcf7a562a49" Alias="Portal Member - Last Name - Textbox" Level="1">
  <Info>
    <Name>Portal Member - Last Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>