<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1ce7660-0a4d-46f5-832f-9599d5a398dd" Alias="Portal Menu Node - Show Items - Checkbox list" Level="1">
  <Info>
    <Name>Portal Menu Node - Show Items - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ABOUT EGYPT"
    },
    {
      "id": 2,
      "value": "WHERE TO GO"
    },
    {
      "id": 3,
      "value": "WHAT TO DO"
    },
    {
      "id": 4,
      "value": "WHAT'S ON"
    },
    {
      "id": 5,
      "value": "GALLERY"
    },
    {
      "id": 6,
      "value": "USFUL INFORMATION"
    }
  ]
}]]></Config>
</DataType>