<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04cf51e0-1385-4895-83d5-0a5788fe01c5" Alias="Portal Member - Address - Textbox" Level="1">
  <Info>
    <Name>Portal Member - Address - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>