<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8308edc5-a59a-4203-9005-961f92215db8" Alias="Portal Member - Country - Multinode Treepicker" Level="1">
  <Info>
    <Name>Portal Member - Country - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/37a65a6e0f744cb496f6168d4a87ff36",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>