<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ac822ba-06bf-46c2-8459-c2baecf2c34b" Alias="Portal Member - Image - Image Cropper" Level="1">
  <Info>
    <Name>Portal Member - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>