<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db5e5b23-1c10-4033-b546-9ed8f536d473" Alias="Portal Member - Gender - Textbox" Level="1">
  <Info>
    <Name>Portal Member - Gender - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>