<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c50fd776-320e-4bb6-9489-7013d51ed557" Alias="Portal Member - Date Of Birth - Label" Level="1">
  <Info>
    <Name>Portal Member - Date Of Birth - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>