<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e017999a-affc-40e0-86d3-7ba79f68cdc0" Alias="Profile Aspects - Title - Textbox" Level="1">
  <Info>
    <Name>Profile Aspects - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 53
}]]></Config>
</DataType>