<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b342d1f-aaf4-49f7-8797-aae5bb3d1d59" Alias="Profile Aspects - Icon - Media Picker" Level="1">
  <Info>
    <Name>Profile Aspects - Icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>