<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b8db5d8-0db0-4efc-9125-35a1fedef779" Alias="Profile Aspects - Brief - Textarea" Level="1">
  <Info>
    <Name>Profile Aspects - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 209,
  "Rows": 3
}]]></Config>
</DataType>