<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26554c10-ce8d-48fd-afde-5e27a5fe99a6" Alias="Publication - Title - Textbox" Level="1">
  <Info>
    <Name>Publication - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 55
}]]></Config>
</DataType>