<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12a3a248-e9b2-475b-8e41-787928884380" Alias="Publish Date - Label" Level="1">
  <Info>
    <Name>Publish Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>