<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90d12556-b343-44ec-8283-6b0609ea843c" Alias="Publication-Date-Date Picker" Level="1">
  <Info>
    <Name>Publication-Date-Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>