<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17bac1ba-ba09-4d64-8ded-1f8fec196bd4" Alias="Publications - Title - Textbox" Level="1">
  <Info>
    <Name>Publications - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 76
}]]></Config>
</DataType>