<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4af2f003-71f6-418e-bf40-a3707ebb2d41" Alias="Publications - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Publications - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 120,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>