<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f20bf67-ac48-4df7-9419-6ccb1c3b138a" Alias="Publication - Source - Textbox" Level="1">
  <Info>
    <Name>Publication - Source - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 67
}]]></Config>
</DataType>