<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbf76420-f71f-468b-9cd3-070bf52080cc" Alias="Publication - Publication Year - CustomDropDown" Level="1">
  <Info>
    <Name>Publication - Publication Year - CustomDropDown</Name>
    <EditorAlias>CustomDropDown</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "getItemsMethod": "/api/Publications/GetYearsLookup"
}]]></Config>
</DataType>