<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc2b478a-4fd7-48ac-99da-8231880540a8" Alias="Publication - Show In HomePage - Toggle" Level="1">
  <Info>
    <Name>Publication - Show In HomePage - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>