<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6e7969b-1e7f-4351-a127-963a10a147f9" Alias="Related Video - Thumbnail - Image Cropper" Level="1">
  <Info>
    <Name>Related Video - Thumbnail - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Listing",
      "height": 100,
      "width": 100
    }
  ]
}]]></Config>
</DataType>