<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc265352-e6e3-4aa1-b34a-8b30e15c2cdc" Alias="Related Parties Item - Logo - Image Cropper" Level="1">
  <Info>
    <Name>Related Parties Item - Logo - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home",
      "height": 130,
      "width": 130
    }
  ]
}]]></Config>
</DataType>