<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c93a8e2b-e1cd-414e-a857-b9ad4e640a55" Alias="Related Parties Item - Website link - Textbox" Level="1">
  <Info>
    <Name>Related Parties Item - Website link - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>