<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f6d4391-b743-433c-9062-1f24431a075b" Alias="Related Image - Image - Image Cropper" Level="1">
  <Info>
    <Name>Related Image - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Listing_Desktop",
      "height": 178,
      "width": 323
    },
    {
      "alias": "Listing_Tablet",
      "height": 178,
      "width": 323
    },
    {
      "alias": "Listing_Responsive",
      "height": 178,
      "width": 323
    },
    {
      "alias": "Details_Desktop",
      "height": 512,
      "width": 1335
    },
    {
      "alias": "Details_Tablet",
      "height": 512,
      "width": 1335
    },
    {
      "alias": "Details_Responsive",
      "height": 512,
      "width": 1335
    },
    {
      "alias": "Related_Desktop",
      "height": 389,
      "width": 325
    },
    {
      "alias": "Related_Tablet",
      "height": 389,
      "width": 325
    },
    {
      "alias": "Related_Responsive",
      "height": 389,
      "width": 325
    }
  ]
}]]></Config>
</DataType>