<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e5c6bc0-7573-465a-8666-b2a862e4de79" Alias="Resource - Publication Month - CustomDropDown" Level="1">
  <Info>
    <Name>Resource - Publication Month - CustomDropDown</Name>
    <EditorAlias>CustomDropDown</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "getItemsMethod": "/js/months.json"
}]]></Config>
</DataType>