<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83b76daf-e553-46a9-bece-4a9eb978fd53" Alias="Sectors - Brief - Textarea" Level="1">
  <Info>
    <Name>Sectors - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 400,
  "Rows": null
}]]></Config>
</DataType>