<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e540489b-e366-4b99-af8d-fa74895564d1" Alias="Sectors - Section Title - Textbox" Level="1">
  <Info>
    <Name>Sectors - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 35
}]]></Config>
</DataType>