<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c1db83f-59a4-44dd-a5ca-4039579c26de" Alias="Sector - Image - Image Cropper" Level="1">
  <Info>
    <Name>Sector - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 284,
      "width": 292
    },
    {
      "alias": "Home_Tablet",
      "height": 284,
      "width": 292
    },
    {
      "alias": "Home_Responsive",
      "height": 284,
      "width": 292
    },
    {
      "alias": "Listing_Desktop",
      "height": 284,
      "width": 292
    },
    {
      "alias": "Listing_Tablet",
      "height": 284,
      "width": 292
    },
    {
      "alias": "Listing_Responsive",
      "height": 284,
      "width": 292
    },
    {
      "alias": "Details_Desktop",
      "height": 353,
      "width": 432
    },
    {
      "alias": "Details_Tablet",
      "height": 353,
      "width": 432
    },
    {
      "alias": "Details_Responsive",
      "height": 353,
      "width": 432
    }
  ]
}]]></Config>
</DataType>