<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86dc5c03-932a-4660-b1b4-88e4977a921a" Alias="Sector - Sections - Image 2 - Image Cropper" Level="1">
  <Info>
    <Name>Sector - Sections - Image 2 - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Details_Responsive",
      "height": 382,
      "width": 458
    },
    {
      "alias": "Details_Tablet",
      "height": 382,
      "width": 458
    },
    {
      "alias": "Details_Desktop",
      "height": 382,
      "width": 458
    }
  ]
}]]></Config>
</DataType>