<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7147d3a1-8435-430e-913a-6b34df6f8491" Alias="Sector - SectorSlogan - Textbox" Level="1">
  <Info>
    <Name>Sector - SectorSlogan - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 89
}]]></Config>
</DataType>