<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23a8518b-e50a-46ef-bbad-456192486141" Alias="Sector - Icon - Image Cropper" Level="1">
  <Info>
    <Name>Sector - Icon - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 55,
      "width": 55
    },
    {
      "alias": "Home_Tablet",
      "height": 55,
      "width": 55
    },
    {
      "alias": "Home_Responsive",
      "height": 55,
      "width": 55
    }
  ]
}]]></Config>
</DataType>