<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9087369-03ed-4282-bd49-691d2142394b" Alias="Sectors - Title - Textbox" Level="1">
  <Info>
    <Name>Sectors - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>