<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0cba283-a474-4030-9b7f-da2b0e47505f" Alias="Sector - Overview - Textarea" Level="1">
  <Info>
    <Name>Sector - Overview - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 65,
  "Rows": 3
}]]></Config>
</DataType>