<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8138e3de-dc58-4098-9823-a345701b0bfc" Alias="Sector - ٍSector companies (Success Stories) - Multinode Treepicker" Level="1">
  <Info>
    <Name>Sector - ٍSector companies (Success Stories) - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "successStory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/successStories",
    "type": "content"
  }
}]]></Config>
</DataType>