<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb0cfa6c-b5a4-4ccc-a18c-fff08e9ed499" Alias="Sectors - BannerImage - Image Cropper" Level="1">
  <Info>
    <Name>Sectors - BannerImage - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 118,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>