<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79bee730-fa41-46f1-b46a-cab8a7d86478" Alias="Sector - Show/Hide - Toggle" Level="1">
  <Info>
    <Name>Sector - Show/Hide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hide",
  "LabelOn": "Show",
  "ShowLabels": false
}]]></Config>
</DataType>