<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e0a558b-2218-4fb8-a803-f440a58d3923" Alias="Sector - Sections - Image 1 - Image Cropper" Level="1">
  <Info>
    <Name>Sector - Sections - Image 1 - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Details_Desktop",
      "height": 382,
      "width": 784
    },
    {
      "alias": "Details_Tablet",
      "height": 382,
      "width": 784
    },
    {
      "alias": "Details_Responsive",
      "height": 382,
      "width": 784
    }
  ]
}]]></Config>
</DataType>