<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e09fd78e-8d2d-4248-957e-d135224c1eea" Alias="Sector - SectorTags - Tags" Level="1">
  <Info>
    <Name>Sector - SectorTags - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>