<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff153129-bdc0-44fd-b9ed-26d32b029b31" Alias="Sector - Title - Textbox" Level="1">
  <Info>
    <Name>Sector - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>