<?xml version="1.0" encoding="utf-8"?>
<DataType Key="341352ad-4477-4746-97d0-fa9aa4710ca3" Alias="Sector - Sector KPIs - Block List" Level="1">
  <Info>
    <Name>Sector - Sector KPIs - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0327af40-fc5a-46a4-a3e5-0d211238f898",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{brief}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 8,
    "min": null
  }
}]]></Config>
</DataType>