<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efa3c311-70af-44a7-a22c-de2d4e835295" Alias="SEO - Meta Description - Textbox" Level="1">
  <Info>
    <Name>SEO - Meta Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>