<?xml version="1.0" encoding="utf-8"?>
<DataType Key="079e140e-5f12-4245-8326-d9422a502983" Alias="Setting Item - Value - Textbox" Level="1">
  <Info>
    <Name>Setting Item - Value - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>