<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a87f1548-d9eb-4300-8adb-73865a492993" Alias="Settings - BaseURL - Textbox" Level="1">
  <Info>
    <Name>Settings - BaseURL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>