<?xml version="1.0" encoding="utf-8"?>
<DataType Key="503c051c-a972-470a-b37f-2102756c49ab" Alias="Settings - DefaultLanguage - Repeatable textstrings" Level="1">
  <Info>
    <Name>Settings - DefaultLanguage - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 2,
  "Minimum": 0
}]]></Config>
</DataType>