<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecdc18ca-16de-49ef-8f8d-2971cd7782ad" Alias="Setting Item - Key - Textbox" Level="1">
  <Info>
    <Name>Setting Item - Key - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>