<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60a8dd1d-c7f8-4322-8615-d4d36bcdfe87" Alias="Settings - DefaultLanguage - Dropdown" Level="1">
  <Info>
    <Name>Settings - DefaultLanguage - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "English"
    },
    {
      "id": 2,
      "value": "Arabic"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>