<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a6101ef-3841-46c5-9bb1-94f2af2592dc" Alias="Shared KPIs With Icon - Icon - Media Picker" Level="1">
  <Info>
    <Name>Shared KPIs With Icon - Icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>