<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54273653-46b8-4631-bfd5-766f5eef17d7" Alias="Shared Section - FirstInfo - Textbox" Level="1">
  <Info>
    <Name>Shared Section - FirstInfo - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>