<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b8ee1e0-2770-4105-963f-2149b2557c32" Alias="Shared KPIs With Icon - Brief - Textbox" Level="1">
  <Info>
    <Name>Shared KPIs With Icon - Brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 17
}]]></Config>
</DataType>