<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8cce677-92bd-4cbc-9f1b-c6d94c796324" Alias="Shared Section - SecondInfo - Textbox" Level="1">
  <Info>
    <Name>Shared Section - SecondInfo - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>