<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ff452a0-4ed6-4d1b-9773-d469bfd50d00" Alias="Shared Kpi - Description - Textbox" Level="1">
  <Info>
    <Name>Shared Kpi - Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>