<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03d5f951-fe62-4040-88ae-dc287d6db28f" Alias="Shared Kpi - Publish Date - Label" Level="1">
  <Info>
    <Name>Shared Kpi - Publish Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>