<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73231583-2676-43cc-ad5d-4673765019b6" Alias="Shared Section - FirstImage - Image Cropper" Level="1">
  <Info>
    <Name>Shared Section - FirstImage - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>