<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b3ded09-9ce1-4278-938e-28e23f2e534d" Alias="Shared Section - Description - Textarea" Level="1">
  <Info>
    <Name>Shared Section - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100,
  "Rows": null
}]]></Config>
</DataType>