<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdec8c6a-387a-4e38-b3e9-f800cda895de" Alias="Shared Section - SecondImage - Image Cropper" Level="1">
  <Info>
    <Name>Shared Section - SecondImage - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>