<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31b9c3c1-a677-4c4a-ba29-a424c68675db" Alias="Simple Content Page - Image - Image Cropper" Level="1">
  <Info>
    <Name>Simple Content Page - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Details Page",
      "height": 600,
      "width": 385
    }
  ]
}]]></Config>
</DataType>