<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9da4eed7-0f0d-4686-b0b5-807e55d0238c" Alias="Simple Template With Related Media - Media Picker" Level="1">
  <Info>
    <Name>Simple Template With Related Media - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "relatedImage,customVideo,customYouTube",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>