<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e3c0824-7225-4fb8-854c-97ef351d7023" Alias="Simple Content Page - Title - Textbox" Level="1">
  <Info>
    <Name>Simple Content Page - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 256
}]]></Config>
</DataType>