<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33cbfd5a-9041-4cf5-a847-eec8aac8c954" Alias="Simple Template With Related Media - Image Style - Dropdown" Level="1">
  <Info>
    <Name>Simple Template With Related Media - Image Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Aligned"
    },
    {
      "id": 2,
      "value": "Centered"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>