<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59efa5ef-d254-4947-8ee7-e314e5ccab5f" Alias="Simple Content Page - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Simple Content Page - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 644,
      "width": 1920
    }
  ]
}]]></Config>
</DataType>