<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb29ec0e-4525-46b9-9909-cf25f16fce63" Alias="Sitemaphtml - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Sitemaphtml - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 118,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>