<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8ac0995-15c1-4467-8247-e980efa54fc2" Alias="Social Media Link - Title - Textbox" Level="1">
  <Info>
    <Name>Social Media Link - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 15
}]]></Config>
</DataType>