<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77a9f2d5-ae85-434e-9b3f-69f7ba7e7cd5" Alias="Social Media Link - Type - Dropdown" Level="1">
  <Info>
    <Name>Social Media Link - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Facebook"
    },
    {
      "id": 4,
      "value": "Instagram"
    },
    {
      "id": 5,
      "value": "LinkedIn"
    },
    {
      "id": 2,
      "value": "Twitter"
    },
    {
      "id": 3,
      "value": "YouTube"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>