<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb40540b-5a33-4551-a23b-945e1470eeb0" Alias="Social Media Link - External URL - Textbox" Level="1">
  <Info>
    <Name>Social Media Link - External URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>