<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8011cee-6090-4d27-8055-a342d5e0aa3a" Alias="Sub-Sector - Title - Textbox" Level="1">
  <Info>
    <Name>Sub-Sector - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>