<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c27469ce-b1f4-43d4-a1e3-2aaa2a144140" Alias="Success Story - Sector - Multinode Treepicker" Level="1">
  <Info>
    <Name>Success Story - Sector - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "successStoriesSector",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 3,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/successStoriesSectors",
    "type": "content"
  }
}]]></Config>
</DataType>