<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e59ad36d-dbc9-4964-8f4e-4a7c3021b808" Alias="Success Story logo - Image Cropper" Level="1">
  <Info>
    <Name>Success Story logo - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Logo",
      "height": 150,
      "width": 150
    }
  ]
}]]></Config>
</DataType>