<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab53762e-d3a0-4b71-87f1-07bb748c7563" Alias="Success Story - Tags" Level="1">
  <Info>
    <Name>Success Story - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>