<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5de6dd3c-2233-49f5-a972-2223c85a20c7" Alias="Success Story - Title - Textbox" Level="1">
  <Info>
    <Name>Success Story - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>