<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03349832-e12d-486c-be96-a998afa335c9" Alias="Success Story - External URL - Textbox" Level="1">
  <Info>
    <Name>Success Story - External URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>