<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5b44bab-5ca6-44aa-a348-20d7294d28bf" Alias="Success Story logo - Image Cropper (1)" Level="1">
  <Info>
    <Name>Success Story logo - Image Cropper (1)</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home_Desktop",
      "height": 53,
      "width": 168
    },
    {
      "alias": "Home_Tablet",
      "height": 124,
      "width": 213
    },
    {
      "alias": "Home_Responsive",
      "height": 100,
      "width": 190
    }
  ]
}]]></Config>
</DataType>