<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d142b532-bd94-43c6-96dc-3ccd286e636e" Alias="Success Stories - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Success Stories - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Responsive",
      "height": 799,
      "width": 320
    },
    {
      "alias": "Tablet",
      "height": 500,
      "width": 800
    }
  ]
}]]></Config>
</DataType>