<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8eb58d98-d605-4d75-9e20-b8b46d6240ea" Alias="Success Story - Show in Home Page - Toggle" Level="1">
  <Info>
    <Name>Success Story - Show in Home Page - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>