<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b4c44df-1f77-475c-aefb-eb0a2bac45a1" Alias="Success Story - Image - Image Cropper" Level="1">
  <Info>
    <Name>Success Story - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "HomeDesktop",
      "height": 112,
      "width": 299
    },
    {
      "alias": "HomeResponsive",
      "height": 50,
      "width": 137
    },
    {
      "alias": "HomeTablet",
      "height": 110,
      "width": 220
    },
    {
      "alias": "Details_Desktop",
      "height": 353,
      "width": 948
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    },
    {
      "alias": "Listing_Desktop",
      "height": 178,
      "width": 284
    },
    {
      "alias": "Listing_Tablet",
      "height": 178,
      "width": 284
    },
    {
      "alias": "Listing_Responsive",
      "height": 178,
      "width": 284
    }
  ]
}]]></Config>
</DataType>