<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4529446-d7a3-4717-969a-ec0d20b4fda0" Alias="Success Stories - Title - Textbox" Level="1">
  <Info>
    <Name>Success Stories - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>