<?xml version="1.0" encoding="utf-8"?>
<DataType Key="991b63bd-4a30-4b42-8713-94f5b452dd27" Alias="Success Story - Multinode Treepicker (1)" Level="1">
  <Info>
    <Name>Success Story - Multinode Treepicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/successStoriesCategories",
    "type": "content"
  }
}]]></Config>
</DataType>