<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbc086a1-e465-4bec-8c41-7a4d84185dd8" Alias="Success Story Category - Category Name - Textbox" Level="1">
  <Info>
    <Name>Success Story Category - Category Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>