<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c64be692-4d9b-479e-879b-3c305015b003" Alias="Template with Related Media - Header Title - Textbox" Level="1">
  <Info>
    <Name>Template with Related Media - Header Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 55
}]]></Config>
</DataType>