<?xml version="1.0" encoding="utf-8"?>
<DataType Key="177f3f7c-d442-45a2-b6be-44540e8b0a18" Alias="Template - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Template - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 118,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>