<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1869b271-4b41-4fa9-976e-168097ee18fb" Alias="Template with Related Media - Header Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Template with Related Media - Header Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Tablet",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Responsive",
      "height": 244,
      "width": 1440
    }
  ]
}]]></Config>
</DataType>