<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b59363c1-84d2-4f1f-854f-0d65d2389e8f" Alias="Template with Related Media - Header Brief - Textarea" Level="1">
  <Info>
    <Name>Template with Related Media - Header Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70,
  "Rows": 3
}]]></Config>
</DataType>