<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85919edb-aa40-41e2-8391-6759c55785af" Alias="Template - Image - Image Cropper" Level="1">
  <Info>
    <Name>Template - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Centered",
      "height": 300,
      "width": 1067
    },
    {
      "alias": "Search",
      "height": 100,
      "width": 106
    },
    {
      "alias": "Aligned",
      "height": 475,
      "width": 510
    }
  ]
}]]></Config>
</DataType>