<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c16b26c9-5b5f-44cc-b625-4e1ca8d23ccf" Alias="Tesmonials - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Tesmonials - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 244,
      "width": 1440
    },
    {
      "alias": "Responsive",
      "height": 799,
      "width": 320
    },
    {
      "alias": "Tablet",
      "height": 500,
      "width": 800
    }
  ]
}]]></Config>
</DataType>