<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd41072f-5265-4d33-b161-4d3f27a88459" Alias="Tesmonials - Title - Textbox" Level="1">
  <Info>
    <Name>Tesmonials - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>