<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51c29a80-4604-4bcd-bc43-8bcc7543f383" Alias="Testmonial - Brief - Textbox" Level="1">
  <Info>
    <Name>Testmonial - Brief - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 142
}]]></Config>
</DataType>