<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1667f7c0-ad18-4015-a863-7270010c73aa" Alias="Testmonial - Representative Speech - Textbox" Level="1">
  <Info>
    <Name>Testmonial - Representative Speech - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>