<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80ce50d9-1cca-4dc0-ba3a-8279d9417a12" Alias="Testmonial - Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Testmonial - Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "testmonialCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root//home/testmonialsCategories",
    "type": "content"
  }
}]]></Config>
</DataType>