<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18fce885-d1b9-43f8-91c5-76053d990be7" Alias="Testmonial - Publish Date - Label" Level="1">
  <Info>
    <Name>Testmonial - Publish Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>