<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6908f3a-fd67-4fca-bb72-1588fabb93c3" Alias="Testmonial - Representative Name - Textbox" Level="1">
  <Info>
    <Name>Testmonial - Representative Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>