<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7965c418-64f3-4e8a-b6ac-08ec2a059417" Alias="Testmonial Category - Category Name - Textbox" Level="1">
  <Info>
    <Name>Testmonial Category - Category Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>