<?xml version="1.0" encoding="utf-8"?>
<DataType Key="680cf59e-bd05-44dd-bf52-65956d8a68aa" Alias="Testmonial - Representative Title - Textbox" Level="1">
  <Info>
    <Name>Testmonial - Representative Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>