<?xml version="1.0" encoding="utf-8"?>
<DataType Key="774bbf5e-d86a-43a9-836b-cadc4cbecae6" Alias="Theme Color Picker" Level="2">
  <Info>
    <Name>Theme Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"8b4513\",\"label\":\"8b4513\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"1002ed\",\"label\":\"1002ed\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>