<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50464748-f922-4404-8611-ea0863b1f169" Alias="Time Picker" Level="1">
  <Info>
    <Name>Time Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "hh:mm A",
  "OffsetTime": false
}]]></Config>
</DataType>