<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f14a6fd2-6b25-471e-9802-fbfce31a2732" Alias="Title - Textbox" Level="1">
  <Info>
    <Name>Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>