<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1e1d958-b183-4a29-ba86-59df40099521" Alias="Title - Textbox (2)" Level="1">
  <Info>
    <Name>Title - Textbox (2)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 250
}]]></Config>
</DataType>