<?xml version="1.0" encoding="utf-8"?>
<DataType Key="733eace2-38cf-4713-abe7-0ba437cc8a6d" Alias="Useful Link - Url Link - Textbox" Level="1">
  <Info>
    <Name>Useful Link - Url Link - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>