<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10c7eb15-d89f-4944-9923-eaead2f760a1" Alias="Useful Links - Title - Textbox" Level="1">
  <Info>
    <Name>Useful Links - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>