<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82a532b8-6a50-4304-9f03-d8077db28692" Alias="Video Media File - Youtube URL - Textbox" Level="1">
  <Info>
    <Name>Video Media File - Youtube URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>