<?xml version="1.0" encoding="utf-8"?>
<DataType Key="749578af-e783-4761-b293-b419331f7fc3" Alias="Video Album Item - Thumbnail - Image Cropper" Level="1">
  <Info>
    <Name>Video Album Item - Thumbnail - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Home-Large",
      "height": 560,
      "width": 502
    },
    {
      "alias": "Listing Page",
      "height": 218,
      "width": 261
    },
    {
      "alias": "Home-Small",
      "height": 265,
      "width": 502
    },
    {
      "alias": "Search",
      "height": 100,
      "width": 106
    }
  ]
}]]></Config>
</DataType>