<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bf53c77-7206-4a16-9a27-e5c7c20a1ec2" Alias="Video Album - Videos - Media Picker" Level="1">
  <Info>
    <Name>Video Album - Videos - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "customVideo,customYouTube",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/3823ff021aed429bb4885f5446979512",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>