<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0015db82-759c-43b9-bca5-f78f572436f5" Alias="Video Album Item - Title - Textbox" Level="1">
  <Info>
    <Name>Video Album Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>