<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e15594b0-2471-43e2-9ef4-1df241a5a0b1" Alias="Video Media File - Image - Image Cropper" Level="1">
  <Info>
    <Name>Video Media File - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 500,
      "width": 505
    }
  ]
}]]></Config>
</DataType>