<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47c8313f-c769-4df9-b3ce-64bb8763768a" Alias="Video Album - Album Name - Textbox" Level="1">
  <Info>
    <Name>Video Album - Album Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 55
}]]></Config>
</DataType>