<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fff2b6f-5949-4940-afd3-90df3f50dc68" Alias="Video Albums - Section Title - Textbox" Level="1">
  <Info>
    <Name>Video Albums - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>