<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eba10a5b-5c26-4f80-ad4f-84b65483732c" Alias="Video Album Item - Youtube URL - Textbox" Level="1">
  <Info>
    <Name>Video Album Item - Youtube URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>