<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0fa5472-1e0c-45d3-8c70-f8374eff6a26" Alias="Visit - National ID Number - Label" Level="1">
  <Info>
    <Name>Visit - National ID Number - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>