<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7554d6b4-6900-40ea-b9df-8a3da161cab8" Alias="Visits - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>Visits - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 120,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>