<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fe00314-1e03-4359-b618-140b5f2dff34" Alias="Visit - Passport Image" Level="1">
  <Info>
    <Name>Visit - Passport Image</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "pdf"
    },
    {
      "id": 0,
      "value": "jpg"
    },
    {
      "id": 0,
      "value": "jpeg"
    }
  ]
}]]></Config>
</DataType>