<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d73efe9-6937-4b4a-b371-41f47f42f1e4" Alias="Visit - Age - Label" Level="1">
  <Info>
    <Name>Visit - Age - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>