<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5d833e0-b659-44f1-9211-e203817b753a" Alias="Visit - Culture Language - Label" Level="1">
  <Info>
    <Name>Visit - Culture Language - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>