<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e9794eb-f9b5-4f20-a788-93acd233a7e5" Alias="Visit - Request Date - Label" Level="1">
  <Info>
    <Name>Visit - Request Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>