<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d0d93e4-0630-4354-b12e-538f06237a53" Alias="Visits - Has Visited Economic Court" Level="1">
  <Info>
    <Name>Visits - Has Visited Economic Court</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>