<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86baf907-ec95-44b8-90a6-33a6365183c3" Alias="Visit - Phone Number - Label" Level="1">
  <Info>
    <Name>Visit - Phone Number - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>