<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83e15c5a-2b5f-456e-8a58-c5e6213f86bf" Alias="Visit - Visit Purpose - Textarea" Level="1">
  <Info>
    <Name>Visit - Visit Purpose - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 512,
  "Rows": 5
}]]></Config>
</DataType>