<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2361dce-268b-466a-a0fb-f3c9d4e51839" Alias="Visit - Name - Label" Level="1">
  <Info>
    <Name>Visit - Name - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>