<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d5ea6e4-c9de-4364-a2b9-d8a2e2d313df" Alias="Visit - Visit Suggestions - Textarea" Level="1">
  <Info>
    <Name>Visit - Visit Suggestions - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 512,
  "Rows": 5
}]]></Config>
</DataType>