<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ddd8586-cc9b-4656-ac71-1fc32da485b8" Alias="What Gafi Offers Item - Brief - Textarea" Level="1">
  <Info>
    <Name>What Gafi Offers Item - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 268,
  "Rows": 5
}]]></Config>
</DataType>