<?xml version="1.0" encoding="utf-8"?>
<DataType Key="307f210c-1b16-4471-9d28-747b4ce8449d" Alias="What Gafi Offers Item - Description - Textarea" Level="1">
  <Info>
    <Name>What Gafi Offers Item - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 500,
  "Rows": 5
}]]></Config>
</DataType>