<?xml version="1.0" encoding="utf-8"?>
<DataType Key="700fdc31-81fb-4674-8ef7-62f0bb06d62f" Alias="What Gafi Offers Item - Image - Image Cropper" Level="1">
  <Info>
    <Name>What Gafi Offers Item - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 846,
      "width": 702
    },
    {
      "alias": "Responsive",
      "height": 800,
      "width": 432
    },
    {
      "alias": "Tablet",
      "height": 846,
      "width": 702
    },
    {
      "alias": "Details_Desktop",
      "height": 512,
      "width": 1277
    },
    {
      "alias": "Details_Responsive",
      "height": 196,
      "width": 339
    },
    {
      "alias": "Details_Tablet",
      "height": 490,
      "width": 850
    }
  ]
}]]></Config>
</DataType>