<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55c495d8-9e97-465e-8771-743230df0bb5" Alias="What Gafi Offers Item - Title - Textbox" Level="1">
  <Info>
    <Name>What Gafi Offers Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 37
}]]></Config>
</DataType>