<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef72f882-c877-4d7d-bcc4-70e23c931227" Alias="What Gafi Offers - Brief - Textarea" Level="1">
  <Info>
    <Name>What Gafi Offers - Brief - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 268,
  "Rows": 5
}]]></Config>
</DataType>