<?xml version="1.0" encoding="utf-8"?>
<DataType Key="185de41d-0b9d-4fb6-bd11-8baffaa90d89" Alias="What Gafi Offers Item - Target URL - Textbox" Level="1">
  <Info>
    <Name>What Gafi Offers Item - Target URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>