<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60d85a52-2d41-4362-abb9-88f97ce36841" Alias="What Gafi Offers - Section Title - Textbox" Level="1">
  <Info>
    <Name>What Gafi Offers - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 37
}]]></Config>
</DataType>