<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc4863ad-a0c7-47b3-ae8e-ee2921ae58f0" Alias="What Gafi Offers Item - Target URL - Link Item Editor" Level="1">
  <Info>
    <Name>What Gafi Offers Item - Target URL - Link Item Editor</Name>
    <EditorAlias>Custom.LinkItemEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "maxLength": 15
}]]></Config>
</DataType>