<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9092f81-29bc-469e-919e-8a4e624574ab" Alias="WhoWeAre - Title - Textbox" Level="1">
  <Info>
    <Name>WhoWeAre - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 40
}]]></Config>
</DataType>