<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d9692f7-3279-4609-9364-775ab7289780" Alias="WhoWeAre - URL Header - Textbox" Level="1">
  <Info>
    <Name>WhoWeAre - URL Header - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>