<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ef95d71-e197-40e7-8a99-0879e686614b" Alias="WhoWeAre - Image - Image Cropper" Level="1">
  <Info>
    <Name>WhoWeAre - Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 475,
      "width": 510
    },
    {
      "alias": "Search",
      "height": 100,
      "width": 106
    }
  ]
}]]></Config>
</DataType>