<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f24777c-30b9-47f0-9565-7c9039d60c22" Alias="WhoWeAre - Target URL - Textbox" Level="1">
  <Info>
    <Name>WhoWeAre - Target URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>