<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a378708b-933c-430f-9bd5-21987fa4e70b" Alias="WhoWeAre - Banner Image - Image Cropper" Level="1">
  <Info>
    <Name>WhoWeAre - Banner Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Desktop",
      "height": 118,
      "width": 1366
    }
  ]
}]]></Config>
</DataType>