<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4691ad97-995c-419f-829e-ff39e264e5fa" Alias="WhoWeAre Template - Multi URL Picker" Level="1">
  <Info>
    <Name>WhoWeAre Template - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": true,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>