<?xml version="1.0" encoding="utf-8"?>
<DataType Key="236e2e02-17bd-4577-bfa4-2156c0481269" Alias="YouTube URL  - Textbox" Level="1">
  <Info>
    <Name>YouTube URL  - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>