<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0d1a502-64cb-42d0-9263-693c732c9d72" Alias="Angular Course Mina Abdo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AngularCourseMinaAbdo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T13:14:26</CreateDate>
    <NodeName Default="Angular Course Mina Abdo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/assndqgl/angular-course-mina-abdo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>