<?xml version="1.0" encoding="utf-8"?>
<Content Key="85a9c0b4-da2a-437a-b565-7de636d2ce1b" Alias="content" Level="2">
  <Info>
    <Parent Key="fdea8dbb-1929-476f-a4f7-3150bb9a31df">home</Parent>
    <Path>/home/content</Path>
    <Trashed>false</Trashed>
    <ContentType>contentTemplates</ContentType>
    <CreateDate>2025-11-05T13:13:50</CreateDate>
    <NodeName Default="content">
      <Name Culture="ar-eg">content</Name>
      <Name Culture="en-us">content</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[content]]></Value>
      <Value Culture="en-us"><![CDATA[content]]></Value>
    </title>
  </Properties>
</Content>