<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d00ebb1-6625-4fc0-b559-7b23ed07efe5" Alias="test internal url" Level="3">
  <Info>
    <Parent Key="85a9c0b4-da2a-437a-b565-7de636d2ce1b">content</Parent>
    <Path>/home/content/testInternalUrl</Path>
    <Trashed>false</Trashed>
    <ContentType>contentTemplate3</ContentType>
    <CreateDate>2025-11-05T16:07:30</CreateDate>
    <NodeName Default="test internal url">
      <Name Culture="ar-eg">test internal url</Name>
      <Name Culture="en-us">test internal url</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <breadcrumbParent>
      <Value><![CDATA[]]></Value>
    </breadcrumbParent>
    <contentSections>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8dd823c0f0d642f8869855c695c38f6a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "94030c06-284c-493d-9332-377464aa1c66",
      "udi": "umb://element/8dd823c0f0d642f8869855c695c38f6a",
      "title": "test internal url",
      "brief": "test internal url",
      "image": [
        {
          "key": "3f6c8671-81c2-421c-b8bd-42e1833ef88d",
          "mediaKey": "c0d1a502-64cb-42d0-9263-693c732c9d72"
        }
      ],
      "redirectURL": "https://localhost:4200/ar/content/f46f9ea6-710a-417e-b410-f137c50ec539",
      "target": [
        "Current Tab"
      ],
      "contentTemplateRelatedContentLinkURL": {
        "Title": "test external url",
        "linkType": "InternalContent",
        "InternalPage": "1841",
        "ExternalUrl": "",
        "InternalPageUrl": "/ar/content/f46f9ea6-710a-417e-b410-f137c50ec539"
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b712f6ca332b4064972cbd9175106451"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "94030c06-284c-493d-9332-377464aa1c66",
      "udi": "umb://element/b712f6ca332b4064972cbd9175106451",
      "title": "test internal url",
      "brief": "test internal url",
      "image": [
        {
          "key": "bf00965b-6c6b-43f7-a06f-28a8624da0e7",
          "mediaKey": "c0d1a502-64cb-42d0-9263-693c732c9d72"
        }
      ],
      "redirectURL": "https://localhost:4200/ar/content/f46f9ea6-710a-417e-b410-f137c50ec539/",
      "target": [
        "Current Tab"
      ],
      "contentTemplateRelatedContentLinkURL": {
        "Title": "test external url",
        "linkType": "InternalContent",
        "InternalPage": "1841",
        "ExternalUrl": "",
        "InternalPageUrl": "/ar/content/f46f9ea6-710a-417e-b410-f137c50ec539/"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSections>
    <description>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>test internal url</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>test internal url</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <kPIs>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </kPIs>
    <moreSections>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </moreSections>
    <sectionBrief>
      <Value Culture="ar-eg"><![CDATA[test internal url]]></Value>
      <Value Culture="en-us"><![CDATA[test internal url]]></Value>
    </sectionBrief>
    <sectionTitle>
      <Value Culture="ar-eg"><![CDATA[test internal url]]></Value>
      <Value Culture="en-us"><![CDATA[test internal url]]></Value>
    </sectionTitle>
    <subTitle>
      <Value Culture="ar-eg"><![CDATA[test internal url]]></Value>
      <Value Culture="en-us"><![CDATA[test internal url]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar-eg"><![CDATA[test internal url]]></Value>
      <Value Culture="en-us"><![CDATA[test internal url]]></Value>
    </title>
  </Properties>
</Content>