<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46f9ea6-710a-417e-b410-f137c50ec539" Alias="test external url" Level="3">
  <Info>
    <Parent Key="85a9c0b4-da2a-437a-b565-7de636d2ce1b">content</Parent>
    <Path>/home/content/testExternalUrl</Path>
    <Trashed>false</Trashed>
    <ContentType>contentTemplate3</ContentType>
    <CreateDate>2025-11-05T13:15:23</CreateDate>
    <NodeName Default="test external url">
      <Name Culture="ar-eg">test external url</Name>
      <Name Culture="en-us">test external url</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <breadcrumbParent>
      <Value><![CDATA[]]></Value>
    </breadcrumbParent>
    <contentSections>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/563cfbf822ca4d6b83aeff4c831f30f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "94030c06-284c-493d-9332-377464aa1c66",
      "udi": "umb://element/563cfbf822ca4d6b83aeff4c831f30f7",
      "title": "test url",
      "brief": "test url",
      "image": [
        {
          "key": "1ad31a2a-25ee-4910-ac4b-932851338b19",
          "mediaKey": "c0d1a502-64cb-42d0-9263-693c732c9d72"
        }
      ],
      "redirectURL": "https://www.google.com/",
      "target": [
        "New Tab"
      ],
      "contentTemplateRelatedContentLinkURL": {
        "Title": "اكتشف المزيد",
        "linkType": "External",
        "InternalPage": "",
        "ExternalUrl": "https://www.google.com/",
        "InternalPageUrl": ""
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3ea018ca100b42e390d94b49c3dfcee1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "94030c06-284c-493d-9332-377464aa1c66",
      "udi": "umb://element/3ea018ca100b42e390d94b49c3dfcee1",
      "title": "test url",
      "brief": "test url",
      "image": [
        {
          "key": "16ebddd6-1626-424c-b611-90f513919c0a",
          "mediaKey": "c0d1a502-64cb-42d0-9263-693c732c9d72"
        }
      ],
      "redirectURL": "https://www.google.com/",
      "target": [
        "New Tab"
      ],
      "contentTemplateRelatedContentLinkURL": {
        "Title": "explore",
        "linkType": "External",
        "InternalPage": "",
        "ExternalUrl": "https://www.google.com/",
        "InternalPageUrl": ""
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </contentSections>
    <description>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>test url</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>test url</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <kPIs>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </kPIs>
    <moreSections>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </moreSections>
    <sectionBrief>
      <Value Culture="ar-eg"><![CDATA[test url]]></Value>
      <Value Culture="en-us"><![CDATA[test url]]></Value>
    </sectionBrief>
    <sectionTitle>
      <Value Culture="ar-eg"><![CDATA[test url]]></Value>
      <Value Culture="en-us"><![CDATA[test url]]></Value>
    </sectionTitle>
    <subTitle>
      <Value Culture="ar-eg"><![CDATA[test url]]></Value>
      <Value Culture="en-us"><![CDATA[test url]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar-eg"><![CDATA[test url]]></Value>
      <Value Culture="en-us"><![CDATA[test url]]></Value>
    </title>
  </Properties>
</Content>